/*font end base.css*/
@charset "UTF-8";
.afa-m-picwall .img-list:before, .afa-m-picwall ul:before, .afa-m-wall:before, .afa-m-wall .status-one .r-top:before, .afa-m-wall .status-one .r-bottom:before, .afa-m-wall ul:before, .afa-m-roll .roll-list:before, .afa-m-imgshow .list:before, .afa-m-picwall .img-list:after, .afa-m-picwall ul:after, .afa-m-wall:after, .afa-m-wall .status-one .r-top:after, .afa-m-wall .status-one .r-bottom:after, .afa-m-wall ul:after, .afa-m-roll .roll-list:after, .afa-m-imgshow .list:after {
  content: " ";
  display: table; }
.afa-m-picwall .img-list:after, .afa-m-picwall ul:after, .afa-m-wall:after, .afa-m-wall .status-one .r-top:after, .afa-m-wall .status-one .r-bottom:after, .afa-m-wall ul:after, .afa-m-roll .roll-list:after, .afa-m-imgshow .list:after {
  clear: both; }

.afa-m-wall img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* ==========================================================================
   引用模块
   ========================================================================== */
.afa-m-picwall .img-list:before, .afa-m-picwall ul:before, .afa-m-wall:before, .afa-m-wall .status-one .r-top:before, .afa-m-wall .status-one .r-bottom:before, .afa-m-wall ul:before, .afa-m-roll .roll-list:before, .afa-m-imgshow .list:before, .afa-m-picwall .img-list:after, .afa-m-picwall ul:after, .afa-m-wall:after, .afa-m-wall .status-one .r-top:after, .afa-m-wall .status-one .r-bottom:after, .afa-m-wall ul:after, .afa-m-roll .roll-list:after, .afa-m-imgshow .list:after {
  content: " ";
  display: table; }
.afa-m-picwall .img-list:after, .afa-m-picwall ul:after, .afa-m-wall:after, .afa-m-wall .status-one .r-top:after, .afa-m-wall .status-one .r-bottom:after, .afa-m-wall ul:after, .afa-m-roll .roll-list:after, .afa-m-imgshow .list:after {
  clear: both; }

.afa-m-wall img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.w-fade-in-out-wrapper-outer {
  position: relative; }
  .w-fade-in-out-wrapper-outer .wrapper-list {
    height: 400px;
    overflow: hidden; }
  .w-fade-in-out-wrapper-outer .img-item {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    height: 400px;
    overflow: hidden; }
    .w-fade-in-out-wrapper-outer .img-item a {
      display: block; }
      .w-fade-in-out-wrapper-outer .img-item a img {
        display: block;
        width: 100%;
        height: auto; }
    .w-fade-in-out-wrapper-outer .img-item .desc {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
      background: #000 \9;
      filter: alpha(opacity=60);
      color: #ffffff; }
      .w-fade-in-out-wrapper-outer .img-item .desc h3 {
        line-height: 2;
        font-size: 30px;
        padding: 0 20px; }
      .w-fade-in-out-wrapper-outer .img-item .desc p {
        font-size: 12px;
        line-height: 1.5;
        padding: 0 20px 20px 20px;
        margin: 0; }
  .w-fade-in-out-wrapper-outer .control-view {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 13px;
    z-index: 50;
    text-align: center; }
    .w-fade-in-out-wrapper-outer .control-view a {
      display: inline-block;
      width: 13px;
      height: 13px;
      background: url(../img/icon/circle.png) no-repeat 0 0; }
      .w-fade-in-out-wrapper-outer .control-view a.current {
        background-position: -16px 0; }

.afa-m-picwall .img-list:before, .afa-m-picwall ul:before, .afa-m-wall:before, .afa-m-wall .status-one .r-top:before, .afa-m-wall .status-one .r-bottom:before, .afa-m-wall ul:before, .afa-m-roll .roll-list:before, .afa-m-imgshow .list:before, .afa-m-picwall .img-list:after, .afa-m-picwall ul:after, .afa-m-wall:after, .afa-m-wall .status-one .r-top:after, .afa-m-wall .status-one .r-bottom:after, .afa-m-wall ul:after, .afa-m-roll .roll-list:after, .afa-m-imgshow .list:after {
  content: " ";
  display: table; }
.afa-m-picwall .img-list:after, .afa-m-picwall ul:after, .afa-m-wall:after, .afa-m-wall .status-one .r-top:after, .afa-m-wall .status-one .r-bottom:after, .afa-m-wall ul:after, .afa-m-roll .roll-list:after, .afa-m-imgshow .list:after {
  clear: both; }

.afa-m-wall img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* ==========================================================================
   照片墙
   ========================================================================== */
.afa-m-picwall .img-list {
  width: 960px;
  overflow: hidden;
  margin-right: 5px;
  background: #ffffff; }
.afa-m-picwall .item {
  float: left;
  width: 75.5px;
  margin: 5px 5px 0 0; }
.afa-m-picwall img {
  display: block;
  width: 100%;
  height: auto; }
.afa-m-picwall ul {
  margin-right: -5px; }
.afa-m-picwall .img-i-one {
  float: left;
  width: 75.5px;
  overflow: hidden;
  margin-right: 5px; }
.afa-m-picwall .img-i-two {
  float: left;
  width: 155.5px;
  overflow: hidden;
  margin-right: 5px; }
  .afa-m-picwall .img-i-two > img {
    margin-top: 5px; }
  .afa-m-picwall .img-i-two ul {
    margin-right: -10px; }
.afa-m-picwall .img-i-three {
  float: left;
  width: 236.5px;
  overflow: hidden;
  margin-right: 5px; }
  .afa-m-picwall .img-i-three > img {
    margin-top: 5px; }
.afa-m-picwall .img-i-four {
  float: left;
  width: 317px;
  overflow: hidden;
  margin-right: 5px; }

/* ==========================================================================
   照片墙 afa-m-wall
   ========================================================================== */
.afa-m-wall {
  background: #ffffff; }
  .afa-m-wall img {
    display: block;
    width: 100%;
    height: auto;
    padding: 0 1px 1px 0; }
  .afa-m-wall .status-one {
    float: left;
    width: 400px; }
    .afa-m-wall .status-one .r-top {
      float: left; }
    .afa-m-wall .status-one .r-bottom {
      float: left; }
  .afa-m-wall .status-two {
    float: left;
    width: 160px; }
  .afa-m-wall .status-three {
    float: left;
    width: 240px; }
  .afa-m-wall .c-one {
    float: left;
    width: 80px; }
  .afa-m-wall .c-three {
    float: left;
    width: 240px; }
  .afa-m-wall .c-two {
    float: left;
    width: 160px; }
  .afa-m-wall .item {
    width: 80px;
    float: left; }

.afa-m-roll {
  position: relative;
  top: 0;
  left: 0;
  height: 400px;
  overflow: hidden; }
  .afa-m-roll .roll-list {
    position: relative;
    top: 0;
    left: 0; }
  .afa-m-roll .roll-item {
    float: left;
    height: 400px;
    overflow: hidden; }
    .afa-m-roll .roll-item a {
      display: block;
      height: 100%; }
    .afa-m-roll .roll-item img {
      width: 100%;
      height: auto; }
  .afa-m-roll .roll-btn-left,
  .afa-m-roll .roll-btn-right {
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 40px;
    height: 77px;
    margin-top: -38px; }
    .afa-m-roll .roll-btn-left:hover,
    .afa-m-roll .roll-btn-right:hover {
      background-color: #fff;
      background-color: rgba(255, 255, 255, 0.4); }
  .afa-m-roll .roll-btn-left {
    left: 10px;
    background: transparent url(../img/icon/roll_left.png) center no-repeat; }
  .afa-m-roll .roll-btn-right {
    right: 10px;
    background: transparent url(../img/icon/roll_right.png) center no-repeat; }
  .afa-m-roll .info-box {
    position: absolute;
    top: 50px;
    right: 60px;
    width: 200px;
    height: 250px;
    background: transparent url(../img/icon/info_bg.png) center no-repeat;
    color: #000000;
    font-size: 14px;
    line-height: 1.5; }
    .afa-m-roll .info-box .title {
      text-align: center;
      line-height: 2; }

.afa-m-text {
  position: relative;
  padding: 20px 100px; }
  .afa-m-text .item {
    position: relative; }
  .afa-m-text .user-photo {
    position: absolute;
    left: -20px;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    overflow: hidden; }
    .afa-m-text .user-photo img {
      width: 100%;
      height: auto; }
  .afa-m-text .user-operate {
    text-align: right;
    margin: 10px 0; }
    .afa-m-text .user-operate a {
      line-height: 34px;
      padding: 0 5px; }
      .afa-m-text .user-operate a i {
        vertical-align: middle;
        margin: 0 3px 0 0; }
  .afa-m-text .t-content {
    font-size: 12px;
    padding: 0 20px;
    line-height: 1.5; }
  .afa-m-text .roll-btn-b-left,
  .afa-m-text .roll-btn-b-right {
    position: absolute;
    top: 50%;
    margin-top: -18px; }
  .afa-m-text .roll-btn-b-left {
    left: 10px; }
  .afa-m-text .roll-btn-b-right {
    right: 10px; }

.afa-m-imgshow {
  background: #ffffff; }
  .afa-m-imgshow .list {
    margin-right: -8px; }
    .afa-m-imgshow .list .item {
      float: left;
      margin-right: 8px;
      width: 234px; }
    .afa-m-imgshow .list .img {
      display: table-cell;
      height: 150px;
      line-height: 150px;
      vertical-align: middle;
      text-align: center;
      width: 234px; }
      .afa-m-imgshow .list .img img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle; }
    .afa-m-imgshow .list .user {
      position: relative;
      text-align: right;
      margin: 0 0 20px 0;
      line-height: 30px; }
      .afa-m-imgshow .list .user .tou {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        border: 2px solid #ffffff; }
      .afa-m-imgshow .list .user a i {
        vertical-align: middle;
        margin: 0 3px 0 0; }
    .afa-m-imgshow .list .hotel-info {
      position: relative; }
      .afa-m-imgshow .list .hotel-info .col-md-8,
      .afa-m-imgshow .list .hotel-info .col-md-4,
      .afa-m-imgshow .list .hotel-info .col-md-12 {
        padding: 0; }
      .afa-m-imgshow .list .hotel-info .name, .afa-m-imgshow .list .hotel-info .price {
        font-family: "Microsoft YaHei"; }
      .afa-m-imgshow .list .hotel-info .name {
        width: 150px;
        height: 20px;
        margin: 0 0 8px;
        overflow: hidden; }
        .afa-m-imgshow .list .hotel-info .name a {
          color: #000000;
          font-size: 14px;
          font-weight: bold;
          line-height: 20px; }
          .afa-m-imgshow .list .hotel-info .name a:hover {
            color: #ff7e00; }
      .afa-m-imgshow .list .hotel-info .price {
        position: absolute;
        top: 0;
        right: 15px;
        text-align: right;
        font-size: 14px;
        color: #ff7e00; }
        .afa-m-imgshow .list .hotel-info .price b {
          font-size: 20px; }
      .afa-m-imgshow .list .hotel-info .address {
        height: 20px;
        line-height: 20px;
        overflow: hidden;
        font-size: 12px;
        margin: 0 0 10px; }

/* ==========================================================================
   定制模块
   ========================================================================== */
.afa-custom-make {
  font-size: 15px;
  padding: 30px 0;
  background: #a1a1a0; }

.a-c-m-content-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 600px;
  margin: 0 auto;
  border: 1px solid #adadad;
  padding: 20px 40px;
  color: #e6e6e6; }
  .a-c-m-content-wrapper .afa-f-list {
    font-size: 20px; }
  .a-c-m-content-wrapper .afa-f-list.head {
    padding: 0 0 20px 0;
    line-height: 1; }
    .a-c-m-content-wrapper .afa-f-list.head .label {
      color: #fff;
      line-height: 24px; }
    .a-c-m-content-wrapper .afa-f-list.head .field {
      width: 500px; }
  .a-c-m-content-wrapper .label, .a-c-m-content-wrapper .field {
    min-height: 1px; }
  .a-c-m-content-wrapper .field .muliti-line {
    margin-right: -20px; }
    .a-c-m-content-wrapper .field .muliti-line .fm-text {
      margin-right: 10px;
      margin-bottom: 10px; }
  .a-c-m-content-wrapper .w-block-b {
    padding-left: 40px;
    box-sizing: border-box; }
  .a-c-m-content-wrapper .afa-f-list.one .field {
    width: 500px; }
  .a-c-m-content-wrapper .afa-f-list.two .field {
    width: 200px; }
  .a-c-m-content-wrapper .f-text {
    width: 500px;
    display: block;
    box-sizing: border-box;
    border: 1px solid #adadad; }
  .a-c-m-content-wrapper .fm-text {
    width: 160px;
    display: block;
    float: left;
    box-sizing: border-box;
    border: 1px solid #adadad;
    padding: 2px 2px; }
  .a-c-m-content-wrapper .field {
    position: relative; }
    .a-c-m-content-wrapper .field .icon {
      position: absolute; }
    .a-c-m-content-wrapper .field .icon-search {
      top: 5px;
      left: 5px; }
    .a-c-m-content-wrapper .field .i_search {
      padding-left: 30px; }
    .a-c-m-content-wrapper .field .btn-right {
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
      height: 30px;
      text-align: center;
      font-style: normal;
      background: #a1a1a0; }
  .a-c-m-content-wrapper .tab-list {
    float: right; }
    .a-c-m-content-wrapper .tab-list .tab-item {
      margin: 0 5px;
      padding: 0 10px;
      width: 80px;
      text-align: center;
      border: 1px solid #adadad;
      border-radius: 4px;
      cursor: pointer; }
      .a-c-m-content-wrapper .tab-list .tab-item.active {
        color: #fff; }
  .a-c-m-content-wrapper .submit-make {
    text-align: center; }
    .a-c-m-content-wrapper .submit-make input {
      line-height: 30px;
      font-size: 20px;
      width: 150px;
      border-radius: 4px;
      border: 1px solid #ffffff;
      color: #1a1a1a;
      background: #a1a1a0; }

/* ==========================================================================
   阿尔法 相应模块主页
   ========================================================================== */
/* --------------------------------------------------------------------------
  
   -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
   
   -------------------------------------------------------------------------- */

/*# sourceMappingURL=afa_index.css.map */
