@charset "UTF-8";
/* -------------------------------------------------------------

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/_placeholders\.scss}line{font-family:\000039}}
.afa-m-picwall .img-list:before, .afa-m-picwall ul:before, .afa-m-wall:before, .afa-m-wall .status-one .r-top:before, .afa-m-wall .status-one .r-bottom:before, .afa-m-wall ul:before, .share-create-line .item:before, .afa-com-m-row:before, .afa-m-picwall .img-list:after, .afa-m-picwall ul:after, .afa-m-wall:after, .afa-m-wall .status-one .r-top:after, .afa-m-wall .status-one .r-bottom:after, .afa-m-wall ul:after, .share-create-line .item:after, .afa-com-m-row:after {
  content: " ";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/_placeholders\.scss}line{font-family:\0000314}}
.afa-m-picwall .img-list:after, .afa-m-picwall ul:after, .afa-m-wall:after, .afa-m-wall .status-one .r-top:after, .afa-m-wall .status-one .r-bottom:after, .afa-m-wall ul:after, .share-create-line .item:after, .afa-com-m-row:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/_placeholders\.scss}line{font-family:\0000335}}
.afa-m-wall img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================================
   引用模块
   ========================================================================== */
/* -------------------------------------------------------------

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/_placeholders\.scss}line{font-family:\000039}}
.afa-m-picwall .img-list:before, .afa-m-picwall ul:before, .afa-m-wall:before, .afa-m-wall .status-one .r-top:before, .afa-m-wall .status-one .r-bottom:before, .afa-m-wall ul:before, .share-create-line .item:before, .afa-com-m-row:before, .afa-m-picwall .img-list:after, .afa-m-picwall ul:after, .afa-m-wall:after, .afa-m-wall .status-one .r-top:after, .afa-m-wall .status-one .r-bottom:after, .afa-m-wall ul:after, .share-create-line .item:after, .afa-com-m-row:after {
  content: " ";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/_placeholders\.scss}line{font-family:\0000314}}
.afa-m-picwall .img-list:after, .afa-m-picwall ul:after, .afa-m-wall:after, .afa-m-wall .status-one .r-top:after, .afa-m-wall .status-one .r-bottom:after, .afa-m-wall ul:after, .share-create-line .item:after, .afa-com-m-row:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/_placeholders\.scss}line{font-family:\0000335}}
.afa-m-wall img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================================
   照片墙
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/pro\/_wall\.scss}line{font-family:\000039}}
.afa-m-picwall .img-list {
  width: 960px;
  overflow: hidden;
  margin-right: 5px;
  background: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/pro\/_wall\.scss}line{font-family:\0000316}}
.afa-m-picwall .item {
  float: left;
  width: 75.5px;
  margin: 5px 5px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/pro\/_wall\.scss}line{font-family:\0000321}}
.afa-m-picwall img {
  display: block;
  width: 100%;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/pro\/_wall\.scss}line{font-family:\0000326}}
.afa-m-picwall ul {
  margin-right: -5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/pro\/_wall\.scss}line{font-family:\0000330}}
.afa-m-picwall .img-i-one {
  float: left;
  width: 75.5px;
  overflow: hidden;
  margin-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/pro\/_wall\.scss}line{font-family:\0000335}}
.afa-m-picwall .img-i-two {
  float: left;
  width: 155.5px;
  overflow: hidden;
  margin-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/pro\/_wall\.scss}line{font-family:\0000339}}
.afa-m-picwall .img-i-two > img {
  margin-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/pro\/_wall\.scss}line{font-family:\0000342}}
.afa-m-picwall .img-i-two ul {
  margin-right: -10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/pro\/_wall\.scss}line{font-family:\0000346}}
.afa-m-picwall .img-i-three {
  float: left;
  width: 236.5px;
  overflow: hidden;
  margin-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/pro\/_wall\.scss}line{font-family:\0000350}}
.afa-m-picwall .img-i-three > img {
  margin-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/pro\/_wall\.scss}line{font-family:\0000354}}
.afa-m-picwall .img-i-four {
  float: left;
  width: 317px;
  overflow: hidden;
  margin-right: 5px;
}

/* ==========================================================================
   照片墙 afa-m-wall
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/pro\/_wall\.scss}line{font-family:\0000364}}
.afa-m-wall {
  background: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/pro\/_wall\.scss}line{font-family:\0000367}}
.afa-m-wall img {
  display: block;
  width: 100%;
  height: auto;
  padding: 0 1px 1px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/pro\/_wall\.scss}line{font-family:\0000374}}
.afa-m-wall .status-one {
  float: left;
  width: 400px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/pro\/_wall\.scss}line{font-family:\0000377}}
.afa-m-wall .status-one .r-top {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/pro\/_wall\.scss}line{font-family:\0000381}}
.afa-m-wall .status-one .r-bottom {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/pro\/_wall\.scss}line{font-family:\0000389}}
.afa-m-wall .status-two {
  float: left;
  width: 160px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/pro\/_wall\.scss}line{font-family:\0000393}}
.afa-m-wall .status-three {
  float: left;
  width: 240px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/pro\/_wall\.scss}line{font-family:\0000397}}
.afa-m-wall .c-one {
  float: left;
  width: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/pro\/_wall\.scss}line{font-family:\00003101}}
.afa-m-wall .c-three {
  float: left;
  width: 240px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/pro\/_wall\.scss}line{font-family:\00003105}}
.afa-m-wall .c-two {
  float: left;
  width: 160px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/pro\/_wall\.scss}line{font-family:\00003109}}
.afa-m-wall .item {
  width: 80px;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\0000311}}
.afa-com-m-t {
  text-indent: 20px;
  padding: 10px 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\0000315}}
.share-create-line {
  padding: 10px 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\0000317}}
.share-create-line .create-list {
  padding: 5px;
  border: 1px solid #000000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\0000321}}
.share-create-line .item {
  position: relative;
  margin: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\0000324}}
.share-create-line .item .w-block-a, .share-create-line .item .w-block-b {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\0000327}}
.share-create-line .item .unit {
  position: absolute;
  top: 5px;
  left: 240px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\0000333}}
.share-create-line .item span.label {
  display: inline-block;
  width: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\0000337}}
.share-create-line .item input {
  height: 30px;
  width: 180px;
  background-color: #ffffff;
  border: none;
  outline: none;
  padding: 3px 4px;
  font-size: 14px;
  line-height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\0000348}}
.share-create-line .item .search {
  padding-left: 30px;
  background: #ffffff url(../img/icon/search.png) no-repeat 5px center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\0000352}}
.share-create-line .item .calendar {
  padding-right: 30px;
  background: #ffffff url(../img/icon/calendar.png) no-repeat right center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\0000359}}
.share-create-title input {
  background: #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 30px;
  padding: 4px 3px;
  line-height: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\0000370}}
.block-input {
  display: block;
  background: #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 30px;
  padding: 4px 3px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\0000379}}
.block-btn {
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 30px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\0000389}}
.share-create-content .day-list .step-title {
  text-indent: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\0000392}}
.share-create-content .day-list .day-title {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\0000395}}
.share-create-content .day-list .day-picture {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\00003102}}
.share-create-content .day-list .day-picture .add-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  font-weight: bolder;
  font-size: 30px;
  color: #000;
  border: 1px solid;
  margin: -30px 0 0 -30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\00003116}}
.share-create-content .day-list .day-text .day-textarea {
  padding: 3px;
  width: 400px;
  min-height: 150px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\00003125}}
.afa-com-m {
  padding: 0 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\00003128}}
.afa-com-m-row {
  padding: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\00003131}}
.afa-com-m-row .label {
  display: block;
  float: left;
  width: 80px;
  line-height: 30px;
  min-height: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\00003138}}
.afa-com-m-row .field {
  display: block;
  float: left;
  width: 840px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\00003143}}
.afa-com-m-row #afa_com_title {
  background: #ffffff;
  color: #000000;
  border: 1px solid;
  width: 100%;
  height: 30px;
  padding: 4px 3px;
  font-size: 14px;
  line-height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\00003154}}
.afa-com-m-row #afa_com_content {
  width: 100%;
  border: 1px solid;
  color: #000000;
  background: #ffffff;
  min-height: 80px;
  padding: 4px 3px;
  line-height: 20px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/companion\.scss}line{font-family:\00003165}}
.afa-com-m-row .afa_com_submit {
  display: inline-block;
  width: 100px;
  line-height: 30px;
  color: #ffffff;
  background: #0d6396;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

/*# sourceMappingURL=companion.css.map */
