/*font end base.css*/
@charset "UTF-8";
/* -------------------------------------------------------------

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
.afa-m-roll .roll-list:before, .afa-m-imgshow .list:before, .afa-m-roll .roll-list:after, .afa-m-imgshow .list:after {
  content: " ";
  display: table; }
.afa-m-roll .roll-list:after, .afa-m-imgshow .list:after {
  clear: both; }

.afa-m-roll .box-theme-one .user-photo img {
  display: block;
  width: 100%;
  height: auto; }

/* ==========================================================================
   引用模块
   ========================================================================== */
.afa-m-roll {
  position: relative;
  top: 0;
  left: 0;
  height: 400px;
  overflow: hidden; }
  .afa-m-roll .roll-list {
    position: relative;
    top: 0;
    left: 0; }
  .afa-m-roll .roll-item {
    float: left;
    height: 400px;
    overflow: hidden; }
    .afa-m-roll .roll-item a {
      display: block;
      border: 1px solid #949494;
      height: 100%; }
    .afa-m-roll .roll-item img {
      width: 100%;
      height: auto;
      min-width: 958px;
      max-width: 960px; }
  .afa-m-roll .roll-btn-left, .afa-m-roll .roll-btn-right {
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 30px;
    height: 48px;
    margin-top: -38px; }
    .afa-m-roll .roll-btn-left:hover, .afa-m-roll .roll-btn-right:hover {
      background-color: #fff;
      background-color: rgba(255, 255, 255, 0.4); }
  .afa-m-roll .roll-btn-left {
    left: 10px;
    background: transparent url(../img/icon/prev.png) center no-repeat; }
  .afa-m-roll .roll-btn-right {
    right: 10px;
    background: transparent url(../img/icon/next.png) center no-repeat; }
  .afa-m-roll .info-box {
    position: absolute;
    top: 80px;
    right: 80px;
    color: #000000;
    font-size: 14px;
    line-height: 1.5; }
    .afa-m-roll .info-box .title {
      text-align: center;
      line-height: 2; }
  .afa-m-roll .box-theme-one {
    position: relative;
    width: 300px;
    height: 250px;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.7); }
    .afa-m-roll .box-theme-one .user-photo {
      position: absolute;
      top: -25px;
      right: -30px;
      z-index: 10;
      width: 50px;
      height: 50px;
      margin: 0;
      padding: 5px;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      overflow: hidden; }
      .afa-m-roll .box-theme-one .user-photo img {
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%; }
    .afa-m-roll .box-theme-one .head {
      position: relative;
      color: #ffffff;
      background: #000000;
      font-size: 20px; }
      .afa-m-roll .box-theme-one .head .time {
        position: absolute;
        top: 0;
        left: 10px;
        height: 40px;
        line-height: 40px;
        font-size: 18px; }
      .afa-m-roll .box-theme-one .head .title {
        text-align: center;
        display: block;
        width: 150px;
        height: 40px;
        overflow: hidden;
        margin: 0 auto; }
    .afa-m-roll .box-theme-one .content {
      margin: 0 15px;
      padding: 10px 0;
      font-size: 14px;
      line-height: 1.5; }
      .afa-m-roll .box-theme-one .content .w-grid-a {
        font-size: 16px; }

.afa-m-text {
  position: relative;
  padding: 20px 100px; }
  .afa-m-text .item {
    position: relative; }
  .afa-m-text .user-photo {
    position: absolute;
    left: -20px;
    top: 0;
    width: 50px;
    height: 50px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    overflow: hidden; }
    .afa-m-text .user-photo img {
      width: 100%;
      height: auto; }
  .afa-m-text .user-operate {
    text-align: right;
    margin: 10px 0; }
    .afa-m-text .user-operate a {
      line-height: 34px;
      padding: 0 5px; }
      .afa-m-text .user-operate a i {
        vertical-align: middle;
        margin: 0 3px 0 0; }
  .afa-m-text .t-content {
    font-size: 12px;
    padding: 0 20px;
    line-height: 1.5; }
  .afa-m-text .roll-btn-b-left, .afa-m-text .roll-btn-b-right {
    position: absolute;
    top: 50%;
    margin-top: -18px; }
  .afa-m-text .roll-btn-b-left {
    left: 10px; }
  .afa-m-text .roll-btn-b-right {
    right: 10px; }

.afa-m-imgshow {
  background: #ffffff; }
  .afa-m-imgshow .list {
    margin-right: -8px; }
    .afa-m-imgshow .list .item {
      float: left;
      margin-right: 8px;
      width: 234px; }
    .afa-m-imgshow .list .img {
      display: block;
      height: 150px;
      line-height: 150px;
      vertical-align: middle;
      text-align: center; }
      .afa-m-imgshow .list .img img {
        width: 100%;
        height: 100%; }
    .afa-m-imgshow .list .user {
      position: relative;
      text-align: right;
      margin: 0 0 20px 0;
      line-height: 30px; }
      .afa-m-imgshow .list .user .tou {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        border: 2px solid #ffffff; }
      .afa-m-imgshow .list .user a i {
        vertical-align: middle;
        margin: 0 3px 0 0; }
    .afa-m-imgshow .list .hotel-info {
      position: relative; }
      .afa-m-imgshow .list .hotel-info .col-md-8, .afa-m-imgshow .list .hotel-info .col-md-4, .afa-m-imgshow .list .hotel-info .col-md-12 {
        padding: 0; }
      .afa-m-imgshow .list .hotel-info .name, .afa-m-imgshow .list .hotel-info .price {
        font-family: "Microsoft YaHei"; }
      .afa-m-imgshow .list .hotel-info .name {
        width: 150px;
        height: 20px;
        margin: 0 0 8px;
        overflow: hidden; }
        .afa-m-imgshow .list .hotel-info .name a {
          color: #000000;
          font-size: 14px;
          font-weight: bold;
          line-height: 20px; }
          .afa-m-imgshow .list .hotel-info .name a:hover {
            color: #ff7e00; }
      .afa-m-imgshow .list .hotel-info .price {
        position: absolute;
        top: 0;
        right: 15px;
        text-align: right;
        font-size: 14px;
        color: #ff7e00; }
        .afa-m-imgshow .list .hotel-info .price b {
          font-size: 20px; }
      .afa-m-imgshow .list .hotel-info .address {
        height: 20px;
        line-height: 20px;
        overflow: hidden;
        font-size: 12px;
        margin: 0 0 10px; }

/* -------------------------------------------------------------

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
.afa-m-roll .roll-list:before, .afa-m-imgshow .list:before, .afa-m-roll .roll-list:after, .afa-m-imgshow .list:after {
  content: " ";
  display: table; }
.afa-m-roll .roll-list:after, .afa-m-imgshow .list:after {
  clear: both; }

.afa-m-roll .box-theme-one .user-photo img {
  display: block;
  width: 100%;
  height: auto; }

.w-fade-in-out-wrapper-outer {
  position: relative; }
  .w-fade-in-out-wrapper-outer .wrapper-list {
    position: relative;
    height: 400px;
    overflow: hidden; }
  .w-fade-in-out-wrapper-outer .img-item {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 400px;
    overflow: hidden; }
    .w-fade-in-out-wrapper-outer .img-item a {
      display: block; }
      .w-fade-in-out-wrapper-outer .img-item a img {
        display: block;
        width: 100%;
        height: auto; }
    .w-fade-in-out-wrapper-outer .img-item .desc {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
      background: #000 \9;
      filter: alpha(opacity=60);
      color: #ffffff; }
      .w-fade-in-out-wrapper-outer .img-item .desc h3 {
        line-height: 2;
        font-size: 30px;
        padding: 0 20px; }
      .w-fade-in-out-wrapper-outer .img-item .desc p {
        font-size: 12px;
        line-height: 1.5;
        padding: 0 20px 20px 20px;
        margin: 0; }
  .w-fade-in-out-wrapper-outer .control-view {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 13px;
    z-index: 50;
    text-align: center; }
    .w-fade-in-out-wrapper-outer .control-view a {
      display: inline-block;
      width: 13px;
      height: 13px;
      background: url(../img/icon/circle.png) no-repeat 0 0; }
      .w-fade-in-out-wrapper-outer .control-view a.current {
        background-position: -16px 0; }

/* ==========================================================================
   找装备页面
   ========================================================================== */
/* --------------------------------------------------------------------------
   全程管家 模块 顶部导航块
   -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
   找装备
   -------------------------------------------------------------------------- */
.afa-m-fe-shop-name .name-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto; }

/* --------------------------------------------------------------------------
  	img show
   -------------------------------------------------------------------------- */
.afa-m-fe-imgshow {
  margin: 5px 0; }
  .afa-m-fe-imgshow .item {
    padding: 10px;
    background: #424242;
    box-sizing: border-box; }
    .afa-m-fe-imgshow .item .img {
      height: auto; }
  .afa-m-fe-imgshow .img .price {
    position: relative;
    padding: 5px;
    background: #7c9d1d;
    line-height: 1.2;
    color: #ffffff;
    text-align: left; }
    .afa-m-fe-imgshow .img .price p {
      margin: 0;
      line-height: 1.5; }
  .afa-m-fe-imgshow .img .new-price {
    font-size: 20px;
    font-weight: bold; }
  .afa-m-fe-imgshow .img .old-price {
    font-size: 14px;
    text-decoration: line-through; }
  .afa-m-fe-imgshow .img .buy-btn {
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 18px;
    line-height: 1.5;
    padding: 0 20px;
    background: #ffffff;
    color: #7c9d1d;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px; }
  .afa-m-fe-imgshow .bottom .name {
    display: block;
    line-height: 20px;
    height: 40px;
    padding: 5px 0;
    overflow: hidden;
    font-size: 14px;
    color: #949494;
    box-sizing: content-box; }
  .afa-m-fe-imgshow .bottom .info {
    padding: 0;
    font-size: 12px;
    padding-top: 10px; }
    .afa-m-fe-imgshow .bottom .info .col-md-4, .afa-m-fe-imgshow .bottom .info .col-md-8 {
      padding: 0;
      line-height: 20px; }
    .afa-m-fe-imgshow .bottom .info b, .afa-m-fe-imgshow .bottom .info i {
      color: #7c9d1d;
      font-style: normal; }
    .afa-m-fe-imgshow .bottom .info b {
      font-size: 16px; }

/*# sourceMappingURL=equipment.css.map */
