/*font end base.css*/
@charset "UTF-8";
.w-cf:before, .w-cf:after {
  content: " ";
  display: table; }
.w-cf:after {
  clear: both; }

.fe-flex-box {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */ }
  .fe-flex-box.row {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    -o-box-orient: horizontal;
    box-orient: horizontal; }
  .fe-flex-box.row-reverse {
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -o-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .fe-flex-box.column {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical; }
  .fe-flex-box.column-reverse {
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .fe-flex-box .flex1 {
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;
    /* OLD - Firefox 19- */
    -webkit-flex: 1;
    /* Chrome */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */ }
  .fe-flex-box .flex2 {
    -webkit-box-flex: 2;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 2;
    /* OLD - Firefox 19- */
    -webkit-flex: 2;
    /* Chrome */
    -ms-flex: 2;
    /* IE 10 */
    flex: 2;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */ }
  .fe-flex-box .flex2 {
    -webkit-box-flex: 2;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 2;
    /* OLD - Firefox 19- */
    -webkit-flex: 2;
    /* Chrome */
    -ms-flex: 2;
    /* IE 10 */
    flex: 2;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */ }
  .fe-flex-box .order1 {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; }
  .fe-flex-box .order2 {
    -webkit-box-ordinal-group: 2;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: 2;
    /* OLD - Firefox 19- */
    -ms-flex-order: 2;
    /* TWEENER - IE 10 */
    -webkit-order: 2;
    /* NEW - Chrome */
    order: 2;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */ }
  .fe-flex-box .order3 {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3; }

/*
*文本对其方式
*/
.fe-tl {
  text-align: left; }

.fe-tc {
  text-align: center; }

.fe-tr {
  text-align: right; }

/*
*字体缩进
*/
.fe-t2em {
  text-indent: 2em; }

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

.full-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.w-hide {
  display: none; }

.w-show {
  display: block; }

.w-p-fixed {
  position: fixed; }

.w-p-absolute {
  position: absolute; }

/*# sourceMappingURL=global.css.map */
