/*font end base.css*/
@charset "UTF-8";
.menu-nav .img-menu ul:before, .menu-nav .img-menu ul:after {
  content: " ";
  display: table; }
.menu-nav .img-menu ul:after {
  clear: both; }

.welcome-info {
  font-family: "Microsoft YaHei"; }

.welcome-info {
  background: transparent url(../img/trans_5.png) repeat; }

/* ==========================================================================
   引用模块
   ========================================================================== */
/* ==========================================================================
   index 首页样式
   ========================================================================== */
.index-bg {
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

/* --------------------------------------------------------------------------
   欢迎框样式
   -------------------------------------------------------------------------- */
.welcome-info {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px auto auto -300px;
  text-align: center;
  width: 600px;
  height: 200px;
  font-weight: bold; }
  .welcome-info .text {
    color: #949494;
    font-size: 4em;
    margin: 0;
    padding: 0; }
    .welcome-info .text b {
      color: #def505;
      font-weight: bold; }
  .welcome-info .afa-logo {
    position: relative;
    width: auto;
    padding: 20px 0;
    text-align: center; }
    .welcome-info .afa-logo img {
      width: 200px;
      height: auto; }

.first-screen {
  z-index: 100; }

.afa-index {
  z-index: 50; }

.menu-nav {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */ }
  .menu-nav .box {
    height: 100%;
    box-sizing: border-box;
    overflow: hidden; }
  .menu-nav .slidebox {
    position: relative;
    z-index: 60; }
  .menu-nav .img-menu {
    width: 960px;
    height: 100%;
    overflow: hidden;
    z-index: 60; }
    .menu-nav .img-menu ul {
      display: block;
      height: 100%; }
      .menu-nav .img-menu ul .img-item {
        position: relative;
        float: left;
        z-index: 5;
        width: 137px;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
        border-right: 1px solid #ffffff; }
        .menu-nav .img-menu ul .img-item.bl {
          border-left: 1px solid #ffffff; }
        .menu-nav .img-menu ul .img-item a {
          display: block;
          color: #ffffff; }
          .menu-nav .img-menu ul .img-item a:hover, .menu-nav .img-menu ul .img-item a:focus {
            color: #ffffff; }
        .menu-nav .img-menu ul .img-item .title {
          position: absolute;
          top: 50%;
          left: 10px;
          width: 100%; }
          .menu-nav .img-menu ul .img-item .title h2 {
            font-size: 20px;
            line-height: 1.5; }
            .menu-nav .img-menu ul .img-item .title h2 b {
              font-size: 30px; }
          .menu-nav .img-menu ul .img-item .title .text {
            display: none;
            font-size: 15px; }
        .menu-nav .img-menu ul .img-item img {
          min-height: 400px; }
        .menu-nav .img-menu ul .img-item .cover {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: transparent url("../img/trans_5.png") repeat center; }

/* --------------------------------------------------------------------------
   首页logo显示
   -------------------------------------------------------------------------- */
.afa-logo {
  position: relative;
  width: 150px; }
  .afa-logo img {
    width: 100%;
    height: auto; }
  .afa-logo.index {
    position: absolute;
    top: 50px;
    left: 20%;
    z-index: 999; }

/*# sourceMappingURL=index.css.map */
