/*font end base.css*/
@charset "UTF-8";
/* -------------------------------------------------------------

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
.menu-nav .img-menu ul:before, .menu-nav .img-menu ul:after {
  content: " ";
  display: table; }
.menu-nav .img-menu ul:after {
  clear: both; }

.welcome-info {
  font-family: "Microsoft YaHei"; }

.welcome-info {
  background: transparent url(../img/trans_5.png) repeat; }

/* ==========================================================================
   引用模块
   ========================================================================== */
/* ==========================================================================
   index 首页样式
   ========================================================================== */
.index-bg {
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

/* --------------------------------------------------------------------------
   欢迎框样式
   -------------------------------------------------------------------------- */
.welcome-info {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px auto auto -300px;
  text-align: center;
  width: 600px;
  height: 200px;
  font-weight: bold; }
  .welcome-info .text {
    color: #949494;
    font-size: 4em;
    margin: 0;
    padding: 0; }
    .welcome-info .text b {
      color: #def505;
      font-weight: bold; }
  .welcome-info .afa-logo {
    position: relative;
    width: auto;
    padding: 20px 0;
    text-align: center; }
    .welcome-info .afa-logo img {
      width: 200px;
      height: auto; }

.first-screen {
  z-index: 20; }

.afa-index {
  z-index: 10; }

.menu-nav {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */ }
  .menu-nav .box {
    height: 100%;
    box-sizing: border-box;
    overflow: hidden; }
  .menu-nav .slidebox {
    position: relative;
    z-index: 60; }
  .menu-nav .img-menu {
    width: 960px;
    height: 100%;
    overflow: hidden;
    z-index: 60; }
    .menu-nav .img-menu ul {
      display: block;
      height: 100%; }
      .menu-nav .img-menu ul .img-item {
        position: relative;
        float: left;
        z-index: 5;
        width: 137px;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
        border-right: 1px solid #ffffff; }
        .menu-nav .img-menu ul .img-item.bl {
          border-left: 1px solid #ffffff; }
        .menu-nav .img-menu ul .img-item a {
          display: block;
          color: #ffffff; }
          .menu-nav .img-menu ul .img-item a:hover, .menu-nav .img-menu ul .img-item a:focus {
            color: #ffffff; }
        .menu-nav .img-menu ul .img-item .title {
          position: absolute;
          top: 50%;
          left: 10px;
          width: 100%; }
          .menu-nav .img-menu ul .img-item .title h2 {
            font-size: 20px;
            line-height: 1.5; }
            .menu-nav .img-menu ul .img-item .title h2 b {
              font-size: 30px; }
          .menu-nav .img-menu ul .img-item .title .text {
            display: none;
            font-size: 15px; }
        .menu-nav .img-menu ul .img-item img {
          min-height: 400px; }
        .menu-nav .img-menu ul .img-item .cover {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: transparent url("../img/trans_5.png") repeat center; }

/* --------------------------------------------------------------------------
   首页logo显示
   -------------------------------------------------------------------------- */
.afa-logo {
  position: relative;
  width: 150px; }
  .afa-logo img {
    width: 100%;
    height: auto; }
  .afa-logo.index {
    position: absolute;
    top: 50px;
    left: 20%;
    z-index: 999; }

/*# sourceMappingURL=index.css.map */
