@charset "UTF-8";
/* -------------------------------------------------------------

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
/* ==========================================================================
   引用模块
   ========================================================================== */
/* ==========================================================================
   全程管理页面
   ========================================================================== */
/* --------------------------------------------------------------------------
   全程管家 模块 顶部导航块
   -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
   文章模块
   -------------------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/knowledge\.scss}line{font-family:\0000320}}
.afa-m-k-zixun-content {
  background: #fafafa;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/knowledge\.scss}line{font-family:\0000324}}
.travel-m-title h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/knowledge\.scss}line{font-family:\0000330}}
.travel-text-intr {
  line-height: 2;
  font-size: 12px;
  text-indent: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/knowledge\.scss}line{font-family:\0000334}}
.travel-text-intr span {
  display: inline-block;
  margin: 0 20px 0 0;
  text-indent: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/knowledge\.scss}line{font-family:\0000342}}
.travel-text p {
  text-indent: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/knowledge\.scss}line{font-family:\0000345}}
.travel-text strong {
  text-indent: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/knowledge\.scss}line{font-family:\0000348}}
.travel-text p.intr-img {
  text-indent: 0;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/knowledge\.scss}line{font-family:\0000351}}
.travel-text p.intr-img img {
  max-width: 900px;
  height: auto;
}

/* --------------------------------------------------------------------------
   找常识
   -------------------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/knowledge\.scss}line{font-family:\0000364}}
.afa-m-k-chang-content {
  background: #fafafa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/knowledge\.scss}line{font-family:\0000366}}
.afa-m-k-chang-content .content-table {
  width: 400px;
  margin: 0 auto;
  padding: 20px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/knowledge\.scss}line{font-family:\0000370}}
.afa-m-k-chang-content .content-table tr {
  height: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/knowledge\.scss}line{font-family:\0000372}}
.afa-m-k-chang-content .content-table tr th {
  text-indent: 5px;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/www\/project\/afa\/build\/sass\/knowledge\.scss}line{font-family:\0000376}}
.afa-m-k-chang-content .content-table tr td {
  text-align: center;
}

/*# sourceMappingURL=knowledge.css.map */
