/*font end base.css*/
@charset "UTF-8";
/* -------------------------------------------------------------

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
.afa-m-roll .roll-list:before, .afa-m-imgshow .list:before, .afa-m-m-nav:before, .afa-m-m-nav .nav-list-one:before, .afa-m-m-nav .nav-list-one .item-bottom:before, .afa-m-m-nav .nav-list-two:before, .afa-m-roll .roll-list:after, .afa-m-imgshow .list:after, .afa-m-m-nav:after, .afa-m-m-nav .nav-list-one:after, .afa-m-m-nav .nav-list-one .item-bottom:after, .afa-m-m-nav .nav-list-two:after {
  content: " ";
  display: table; }
.afa-m-roll .roll-list:after, .afa-m-imgshow .list:after, .afa-m-m-nav:after, .afa-m-m-nav .nav-list-one:after, .afa-m-m-nav .nav-list-one .item-bottom:after, .afa-m-m-nav .nav-list-two:after {
  clear: both; }

.afa-m-m-nav a h3 {
  font-family: "Microsoft YaHei"; }

.afa-m-roll .box-theme-one .user-photo img {
  display: block;
  width: 100%;
  height: auto; }

/* ==========================================================================
   引用模块
   ========================================================================== */
.afa-m-roll {
  position: relative;
  top: 0;
  left: 0;
  height: 400px;
  overflow: hidden; }
  .afa-m-roll .roll-list {
    position: relative;
    top: 0;
    left: 0; }
  .afa-m-roll .roll-item {
    float: left;
    height: 400px;
    overflow: hidden; }
    .afa-m-roll .roll-item a {
      display: block;
      border: 1px solid #949494;
      height: 100%; }
    .afa-m-roll .roll-item img {
      width: 100%;
      height: auto;
      min-width: 958px;
      max-width: 960px; }
  .afa-m-roll .roll-btn-left, .afa-m-roll .roll-btn-right {
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 30px;
    height: 48px;
    margin-top: -38px; }
    .afa-m-roll .roll-btn-left:hover, .afa-m-roll .roll-btn-right:hover {
      background-color: #fff;
      background-color: rgba(255, 255, 255, 0.4); }
  .afa-m-roll .roll-btn-left {
    left: 10px;
    background: transparent url(../img/icon/prev.png) center no-repeat; }
  .afa-m-roll .roll-btn-right {
    right: 10px;
    background: transparent url(../img/icon/next.png) center no-repeat; }
  .afa-m-roll .info-box {
    position: absolute;
    top: 80px;
    right: 80px;
    color: #000000;
    font-size: 14px;
    line-height: 1.5; }
    .afa-m-roll .info-box .title {
      text-align: center;
      line-height: 2; }
  .afa-m-roll .box-theme-one {
    position: relative;
    width: 300px;
    height: 250px;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.7); }
    .afa-m-roll .box-theme-one .user-photo {
      position: absolute;
      top: -25px;
      right: -30px;
      z-index: 10;
      width: 50px;
      height: 50px;
      margin: 0;
      padding: 5px;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      overflow: hidden; }
      .afa-m-roll .box-theme-one .user-photo img {
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%; }
    .afa-m-roll .box-theme-one .head {
      position: relative;
      color: #ffffff;
      background: #000000;
      font-size: 20px; }
      .afa-m-roll .box-theme-one .head .time {
        position: absolute;
        top: 0;
        left: 10px;
        height: 40px;
        line-height: 40px;
        font-size: 18px; }
      .afa-m-roll .box-theme-one .head .title {
        text-align: center;
        display: block;
        width: 150px;
        height: 40px;
        overflow: hidden;
        margin: 0 auto; }
    .afa-m-roll .box-theme-one .content {
      margin: 0 15px;
      padding: 10px 0;
      font-size: 14px;
      line-height: 1.5; }
      .afa-m-roll .box-theme-one .content .w-grid-a {
        font-size: 16px; }

.afa-m-text {
  position: relative;
  padding: 20px 100px; }
  .afa-m-text .item {
    position: relative; }
  .afa-m-text .user-photo {
    position: absolute;
    left: -20px;
    top: 0;
    width: 50px;
    height: 50px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    overflow: hidden; }
    .afa-m-text .user-photo img {
      width: 100%;
      height: auto; }
  .afa-m-text .user-operate {
    text-align: right;
    margin: 10px 0; }
    .afa-m-text .user-operate a {
      line-height: 34px;
      padding: 0 5px; }
      .afa-m-text .user-operate a i {
        vertical-align: middle;
        margin: 0 3px 0 0; }
  .afa-m-text .t-content {
    font-size: 12px;
    padding: 0 20px;
    line-height: 1.5; }
  .afa-m-text .roll-btn-b-left, .afa-m-text .roll-btn-b-right {
    position: absolute;
    top: 50%;
    margin-top: -18px; }
  .afa-m-text .roll-btn-b-left {
    left: 10px; }
  .afa-m-text .roll-btn-b-right {
    right: 10px; }

.afa-m-imgshow {
  background: #ffffff;
  padding: 5px 0; }
  .afa-m-imgshow .list {
    margin-right: -8px; }
    .afa-m-imgshow .list .item {
      float: left;
      margin-right: 8px;
      width: 234px; }
    .afa-m-imgshow .list .img {
      display: block;
      height: 150px;
      line-height: 150px;
      vertical-align: middle;
      text-align: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #eeeeee; }
      .afa-m-imgshow .list .img img {
        width: 100%;
        height: 100%; }
    .afa-m-imgshow .list .user {
      position: relative;
      text-align: right;
      margin: 0 0 20px 0;
      line-height: 30px; }
      .afa-m-imgshow .list .user .tou {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        border: 2px solid #ffffff; }
      .afa-m-imgshow .list .user a i {
        vertical-align: middle;
        margin: -2px 3px 0 3px; }
    .afa-m-imgshow .list .hotel-info {
      position: relative; }
      .afa-m-imgshow .list .hotel-info .col-md-8, .afa-m-imgshow .list .hotel-info .col-md-4, .afa-m-imgshow .list .hotel-info .col-md-12 {
        padding: 0; }
      .afa-m-imgshow .list .hotel-info .name, .afa-m-imgshow .list .hotel-info .price {
        font-family: "Microsoft YaHei"; }
      .afa-m-imgshow .list .hotel-info .name {
        width: 150px;
        height: 20px;
        margin: 0 0 8px;
        overflow: hidden; }
        .afa-m-imgshow .list .hotel-info .name a {
          color: #000000;
          font-size: 14px;
          font-weight: bold;
          line-height: 20px; }
          .afa-m-imgshow .list .hotel-info .name a:hover {
            color: #ff7e00; }
      .afa-m-imgshow .list .hotel-info .price {
        position: absolute;
        top: 0;
        right: 15px;
        text-align: right;
        font-size: 14px;
        color: #ff7e00; }
        .afa-m-imgshow .list .hotel-info .price b {
          font-size: 20px; }
      .afa-m-imgshow .list .hotel-info .address {
        height: 20px;
        line-height: 20px;
        overflow: hidden;
        font-size: 12px;
        margin: 0 0 10px; }

/* ==========================================================================
   全程管理页面
   ========================================================================== */
/* --------------------------------------------------------------------------
   全程管家 模块 顶部导航块
   -------------------------------------------------------------------------- */
.afa-m-m-nav {
  margin-right: -10px; }
  .afa-m-m-nav a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #000000;
    text-decoration: none; }
    .afa-m-m-nav a:hover {
      text-decoration: none; }
    .afa-m-m-nav a h3 {
      font-size: inherit; }
  .afa-m-m-nav .item {
    position: relative;
    height: 150px; }
    .afa-m-m-nav .item h3 {
      margin: 0; }
    .afa-m-m-nav .item:hover h3 {
      color: #ffffff; }
  .afa-m-m-nav .nav-list-one {
    float: left;
    width: 440px;
    margin: 0 10px 0 0; }
    .afa-m-m-nav .nav-list-one .item-top {
      display: block;
      height: 310px;
      margin-bottom: 10px;
      -webkit-transition: all linear 300ms;
      -moz-transition: all linear 300ms;
      -ms-transition: all linear 300ms;
      transition: all linear 300ms; }
      .afa-m-m-nav .nav-list-one .item-top h3 {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 80px;
        left: 0;
        font-size: 30px; }
      .afa-m-m-nav .nav-list-one .item-top:hover {
        background-position: center 130px;
        -webkit-transition: all linear 300ms;
        -moz-transition: all linear 300ms;
        -ms-transition: all linear 300ms;
        transition: all linear 300ms; }
    .afa-m-m-nav .nav-list-one .item-bottom {
      display: block;
      margin-right: -10px; }
      .afa-m-m-nav .nav-list-one .item-bottom .item {
        float: left;
        width: 215px;
        margin: 0 10px 0 0;
        -webkit-transition: all linear 300ms;
        -moz-transition: all linear 300ms;
        -ms-transition: all linear 300ms;
        transition: all linear 300ms; }
        .afa-m-m-nav .nav-list-one .item-bottom .item:hover {
          background-position: center 0;
          -webkit-transition: all linear 300ms;
          -moz-transition: all linear 300ms;
          -ms-transition: all linear 300ms;
          transition: all linear 300ms; }
      .afa-m-m-nav .nav-list-one .item-bottom h3 {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 20px;
        left: 0; }
  .afa-m-m-nav .nav-list-two {
    width: 520px;
    height: 470px;
    overflow: hidden;
    float: left; }
    .afa-m-m-nav .nav-list-two .item {
      float: left;
      display: block;
      width: 250px;
      margin: 0 10px 10px 0;
      -webkit-transition: all linear 300ms;
      -moz-transition: all linear 300ms;
      -ms-transition: all linear 300ms;
      transition: all linear 300ms; }
      .afa-m-m-nav .nav-list-two .item:hover {
        background-position: 20px center;
        -webkit-transition: all linear 300ms;
        -moz-transition: all linear 300ms;
        -ms-transition: all linear 300ms;
        transition: all linear 300ms; }
    .afa-m-m-nav .nav-list-two h3 {
      position: absolute;
      height: 100%;
      line-height: 150px;
      left: 150px;
      top: 0; }
  .afa-m-m-nav .nav-shi {
    background: #baccff url(../img/icon/shi.png) no-repeat center 150px; }
  .afa-m-m-nav .nav-yu {
    background: #baccff url(../img/icon/yu.png) no-repeat center 10px; }
  .afa-m-m-nav .nav-zhuang {
    background: #baccff url(../img/icon/zhuang.png) no-repeat center 10px; }
  .afa-m-m-nav .nav-ji {
    background: #baccff url(../img/icon/ji.png) no-repeat 30px center; }
  .afa-m-m-nav .nav-huo {
    background: #baccff url(../img/icon/huo.png) no-repeat 30px center; }
  .afa-m-m-nav .nav-men {
    background: #baccff url(../img/icon/men.png) no-repeat 30px center; }
  .afa-m-m-nav .nav-ying {
    background: #baccff url(../img/icon/ying.png) no-repeat 30px center; }
  .afa-m-m-nav .nav-tu {
    background: #baccff url(../img/icon/tu.png) no-repeat 30px center; }
  .afa-m-m-nav .nav-re {
    background: #baccff url(../img/icon/re.png) no-repeat 30px center; }

/*# sourceMappingURL=manager.css.map */
