/*font end base.css*/
@charset "UTF-8";
.afa-m-picwall .img-list:before, .afa-m-picwall ul:before, .afa-m-wall:before, .afa-m-wall .status-one .r-top:before, .afa-m-wall .status-one .r-bottom:before, .afa-m-wall ul:before, .afa-m-picwall .img-list:after, .afa-m-picwall ul:after, .afa-m-wall:after, .afa-m-wall .status-one .r-top:after, .afa-m-wall .status-one .r-bottom:after, .afa-m-wall ul:after {
  content: " ";
  display: table; }
.afa-m-picwall .img-list:after, .afa-m-picwall ul:after, .afa-m-wall:after, .afa-m-wall .status-one .r-top:after, .afa-m-wall .status-one .r-bottom:after, .afa-m-wall ul:after {
  clear: both; }

.afa-m-wall img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* ==========================================================================
   引用模块
   ========================================================================== */
.afa-m-picwall .img-list:before, .afa-m-picwall ul:before, .afa-m-wall:before, .afa-m-wall .status-one .r-top:before, .afa-m-wall .status-one .r-bottom:before, .afa-m-wall ul:before, .afa-m-picwall .img-list:after, .afa-m-picwall ul:after, .afa-m-wall:after, .afa-m-wall .status-one .r-top:after, .afa-m-wall .status-one .r-bottom:after, .afa-m-wall ul:after {
  content: " ";
  display: table; }
.afa-m-picwall .img-list:after, .afa-m-picwall ul:after, .afa-m-wall:after, .afa-m-wall .status-one .r-top:after, .afa-m-wall .status-one .r-bottom:after, .afa-m-wall ul:after {
  clear: both; }

.afa-m-wall img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.w-fade-in-out-wrapper-outer {
  position: relative; }
  .w-fade-in-out-wrapper-outer .wrapper-list {
    position: relative;
    height: 400px;
    overflow: hidden; }
  .w-fade-in-out-wrapper-outer .img-item {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 400px;
    overflow: hidden; }
    .w-fade-in-out-wrapper-outer .img-item a {
      display: block; }
      .w-fade-in-out-wrapper-outer .img-item a img {
        display: block;
        width: 100%;
        height: auto; }
    .w-fade-in-out-wrapper-outer .img-item .desc {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
      background: #000 \9;
      filter: alpha(opacity=60);
      color: #ffffff; }
      .w-fade-in-out-wrapper-outer .img-item .desc h3 {
        line-height: 2;
        font-size: 30px;
        padding: 0 20px; }
      .w-fade-in-out-wrapper-outer .img-item .desc p {
        font-size: 12px;
        line-height: 1.5;
        padding: 0 20px 20px 20px;
        margin: 0; }
  .w-fade-in-out-wrapper-outer .control-view {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 13px;
    z-index: 50;
    text-align: center; }
    .w-fade-in-out-wrapper-outer .control-view a {
      display: inline-block;
      width: 13px;
      height: 13px;
      background: url(../img/icon/circle.png) no-repeat 0 0; }
      .w-fade-in-out-wrapper-outer .control-view a.current {
        background-position: -16px 0; }

.afa-m-picwall .img-list:before, .afa-m-picwall ul:before, .afa-m-wall:before, .afa-m-wall .status-one .r-top:before, .afa-m-wall .status-one .r-bottom:before, .afa-m-wall ul:before, .afa-m-picwall .img-list:after, .afa-m-picwall ul:after, .afa-m-wall:after, .afa-m-wall .status-one .r-top:after, .afa-m-wall .status-one .r-bottom:after, .afa-m-wall ul:after {
  content: " ";
  display: table; }
.afa-m-picwall .img-list:after, .afa-m-picwall ul:after, .afa-m-wall:after, .afa-m-wall .status-one .r-top:after, .afa-m-wall .status-one .r-bottom:after, .afa-m-wall ul:after {
  clear: both; }

.afa-m-wall img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* ==========================================================================
   照片墙
   ========================================================================== */
.afa-m-picwall .img-list {
  width: 960px;
  overflow: hidden;
  margin-right: 5px;
  background: #ffffff; }
.afa-m-picwall .item {
  float: left;
  width: 75.5px;
  margin: 5px 5px 0 0; }
.afa-m-picwall img {
  display: block;
  width: 100%;
  height: auto; }
.afa-m-picwall ul {
  margin-right: -5px; }
.afa-m-picwall .img-i-one {
  float: left;
  width: 75.5px;
  overflow: hidden;
  margin-right: 5px; }
.afa-m-picwall .img-i-two {
  float: left;
  width: 155.5px;
  overflow: hidden;
  margin-right: 5px; }
  .afa-m-picwall .img-i-two > img {
    margin-top: 5px; }
  .afa-m-picwall .img-i-two ul {
    margin-right: -10px; }
.afa-m-picwall .img-i-three {
  float: left;
  width: 236.5px;
  overflow: hidden;
  margin-right: 5px; }
  .afa-m-picwall .img-i-three > img {
    margin-top: 5px; }
.afa-m-picwall .img-i-four {
  float: left;
  width: 317px;
  overflow: hidden;
  margin-right: 5px; }

/* ==========================================================================
   照片墙 afa-m-wall
   ========================================================================== */
.afa-m-wall {
  background: #ffffff; }
  .afa-m-wall img {
    display: block;
    width: 100%;
    height: auto;
    padding: 0 1px 1px 0; }
  .afa-m-wall .status-one {
    float: left;
    width: 400px; }
    .afa-m-wall .status-one .r-top {
      float: left; }
    .afa-m-wall .status-one .r-bottom {
      float: left; }
  .afa-m-wall .status-two {
    float: left;
    width: 160px; }
  .afa-m-wall .status-three {
    float: left;
    width: 240px; }
  .afa-m-wall .c-one {
    float: left;
    width: 80px; }
  .afa-m-wall .c-three {
    float: left;
    width: 240px; }
  .afa-m-wall .c-two {
    float: left;
    width: 160px; }
  .afa-m-wall .item {
    width: 80px;
    float: left; }

/* ==========================================================================
   找领队
   ========================================================================== */
/* --------------------------------------------------------------------------
  
   -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
   找领队
   -------------------------------------------------------------------------- */

/*# sourceMappingURL=team.css.map */
