
<div class="afa-m-imgshow">
  <ul class="list">
    <li class="item">
      <div class="img"><img src="../img/list_img.jpg" alt=""/></div>
      <div class="user"><img src="../img/tou.jpg" alt="" class="tou"/><a href="#"><i class="icon icon-like"></i>34</a><a href="#"><i class="icon icon-comment"></i>23</a></div>
    </li>
    <li class="item">
      <div class="img"><img src="../img/list_img.jpg" alt=""/></div>
      <div class="user"><img src="../img/tou.jpg" alt="" class="tou"/><a href="#"><i class="icon icon-like"></i>34</a><a href="#"><i class="icon icon-comment"></i>23</a></div>
    </li>
    <li class="item">
      <div class="img"><img src="../img/list_img.jpg" alt=""/></div>
      <div class="user"><img src="../img/tou.jpg" alt="" class="tou"/><a href="#"><i class="icon icon-like"></i>34</a><a href="#"><i class="icon icon-comment"></i>23</a></div>
    </li>
    <li class="item">
      <div class="img"><img src="../img/list_img.jpg" alt=""/></div>
      <div class="user"><img src="../img/tou.jpg" alt="" class="tou"/><a href="#"><i class="icon icon-like"></i>34</a><a href="#"><i class="icon icon-comment"></i>23</a></div>
    </li>
  </ul>
</div>