
<div class="info-box">
  <div class="box-theme-one">
    <div class="user-photo"><a href="#"><img src="../img/tou.jpg" alt=""/></a></div>
    <div class="head"><b class="time">5天</b>
      <h3 class="title">三亚旅行</h3>
    </div>
    <div class="content">
      <div class="w-grid-a">
        <div class="w-block-a">已报名：10人</div>
        <div class="w-block-b">已关注：60人</div>
        <div class="w-block-a">2014-09-24</div>
      </div>
      <p class="desc">
        活动地点：三亚情侣小岛<br>
        行程：2014-09-20 08：30——2014-09-25 17:00<br>
        人数：10人<br>
        领队：wind<br>
        预计费用：200元/人
      </p>
    </div>
  </div>
</div>