
<div class="slidebox slide-menu skin01">
  <ul class="btn-list">
    <li><a href="./find_line.html" class="active">找路线</a></li>
    <li><a href="./find_strategy.html" class="active">找攻略</a></li>
    <li><a href="./find_line.html" class="active">定制吧</a></li>
    <li><a href="./find_line.html" class="active">找同伴</a></li>
    <li><a href="./find_line.html" class="active">找领队</a></li>
    <li><a href="./find_line.html" class="active">找装备</a></li>
    <li><a href="./find_line.html" class="active">找知识</a></li>
    <li><a href="./find_line.html">全程管家</a></li>
  </ul>
</div>