<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>阿尔法旅游网站</title>
  <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" media="screen">
  <link rel="stylesheet" type="text/css" href="../css/global.css">
  <link rel="stylesheet" type="text/css" href="../css/pro.min.css">
  <link rel="stylesheet" type="text/css" href="../css/find_line.css">
</head>
<body>
  <div style="background:url(img/abc.jpg) no-repeat center;" class="full-bg">
    <div class="full-bg opacity-8"></div>
  </div>
  <div id="find_line">
    <div class="header">
      <div class="box">
        <div class="slidebox"></div>
        <div class="contentbox"><span class="afa-logo w-p-absolute"><a href="../index.html"><img src="../img/logo.png" alt=""></a></span><span class="img-nav-tab"><a href="#" class="nav-item">徒步</a><a href="#" class="nav-item">骑行</a><a href="#" class="nav-item">钓鱼</a><a href="#" class="nav-item">自驾</a><a href="#" class="nav-item">攀岩</a><a href="#" class="nav-item">滑雪</a><a href="#" class="nav-item">更多</a></span>
          <div class="center-operate"><a href="login.html">登录 &nbsp;|&nbsp;</a><a href="register.html">注册 &nbsp;|&nbsp;</a><a href="mycenter.html" class="afa-center">个人中心</a></div>
        </div>
        <div class="slidebox"></div>
      </div>
    </div>
    <div class="box">
      <div class="slidebox slide-menu skin01">
        <ul class="btn-list">
          <li><a href="#" class="active">定制吧</a></li>
          <li><a href="#">找分享</a></li>
          <li><a href="#">找同伴</a></li>
          <li><a href="#">找攻略</a></li>
          <li><a href="#">找领队</a></li>
          <li><a href="#">找装备</a></li>
          <li><a href="#">找知识</a></li>
          <li><a href="#">全程管家</a></li>
        </ul>
      </div>
      <div class="contentbox">
        <div class="afa-m-fe">
          <h2 class="afa-module-title afa-bg-m-title"><span class="t-chinese">找路线</span><span class="t-english">FIND-LINE</span></h2>
          <div class="afa-m-fe-content">
                        <div id="find_line_roll_1" class="afa-m-roll">
                          <ul class="roll-list">
                            <li class="roll-item"><a href="#"><img src="../img/default_roll.jpg" alt=""></a></li>
                            <li class="roll-item"><a href="#"><img src="../img/default_roll.jpg" alt=""></a></li>
                            <li class="roll-item"><a href="#"><img src="../img/default_roll.jpg" alt=""></a></li>
                            <li class="roll-item"><a href="#"><img src="../img/default_roll.jpg" alt=""></a></li>
                          </ul><a href="javascript:void(0);" class="roll-btn-left"></a><a href="javascript:void(0);" class="roll-btn-right"></a>
                          <div class="info-box">
                            <div class="box-theme-one">
                              <div class="user-photo"><a href="#"><img src="../img/tou.jpg" alt=""></a></div>
                              <div class="head"><b class="time">5天</b>
                                <h3 class="title">三亚旅行</h3>
                              </div>
                              <div class="content">
                                <div class="w-grid-a">
                                  <div class="w-block-a">已报名：10人</div>
                                  <div class="w-block-b">已关注：60人</div>
                                  <div class="w-block-a">2014-09-24</div>
                                </div>
                                <p class="desc">
                                  活动地点：三亚情侣小岛<br>
                                  行程：2014-09-20 08：30——2014-09-25 17:00<br>
                                  人数：10人<br>
                                  领队：wind<br>
                                  预计费用：200元/人
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
            <div class="afa-m-imgshow">
              <ul class="list">
                <li class="item">
                  <div class="img"><img src="../img/list_img.jpg" alt=""></div>
                  <div class="user"><img src="../img/tou.jpg" alt="" class="tou"><a href="#"><i class="icon icon-like"></i>34</a><a href="#"><i class="icon icon-comment"></i>23</a></div>
                </li>
                <li class="item">
                  <div class="img"><img src="../img/list_img.jpg" alt=""></div>
                  <div class="user"><img src="../img/tou.jpg" alt="" class="tou"><a href="#"><i class="icon icon-like"></i>34</a><a href="#"><i class="icon icon-comment"></i>23</a></div>
                </li>
                <li class="item">
                  <div class="img"><img src="../img/list_img.jpg" alt=""></div>
                  <div class="user"><img src="../img/tou.jpg" alt="" class="tou"><a href="#"><i class="icon icon-like"></i>34</a><a href="#"><i class="icon icon-comment"></i>23</a></div>
                </li>
                <li class="item">
                  <div class="img"><img src="../img/list_img.jpg" alt=""></div>
                  <div class="user"><img src="../img/tou.jpg" alt="" class="tou"><a href="#"><i class="icon icon-like"></i>34</a><a href="#"><i class="icon icon-comment"></i>23</a></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>