<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>阿尔法旅游网站</title>
  <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" media="screen">
  <link rel="stylesheet" type="text/css" href="../css/lib/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" href="../css/global.css">
  <link rel="stylesheet" type="text/css" href="../css/pro.min.css">
  <link rel="stylesheet" type="text/css" href="../css/strategy.css">
</head>
<body>
  <div style="background:url(../img/main_bg.jpg) no-repeat center;" class="full-bg">
    <div class="full-bg opacity-8"></div>
  </div>
  <div id="find_strategy">
    <div class="header">
      <div class="box">
        <div class="slidebox"></div>
        <div class="contentbox"><span class="afa-logo w-p-absolute"><a href="../index.html"><img src="../img/logo.png" alt=""></a></span><span class="img-nav-tab"><a href="#" class="nav-item">徒步</a><a href="#" class="nav-item">骑行</a><a href="#" class="nav-item">钓鱼</a><a href="#" class="nav-item">自驾</a><a href="#" class="nav-item">攀岩</a><a href="#" class="nav-item">滑雪</a><a href="#" class="nav-item">更多</a></span>
          <div class="center-operate"><a href="login.html">登录 </a>&nbsp;|&nbsp;<a href="register.html">注册 </a>&nbsp;|&nbsp;<a href="mycenter.html" class="afa-center">个人中心</a></div>
        </div>
        <div class="slidebox"></div>
      </div>
    </div>
    <div class="box">
      <div class="slidebox slide-menu skin01">
        <ul class="btn-list">
          <li><a href="./find_line.html" class="active">找路线</a></li>
          <li><a href="./find_strategy.html" class="active">找攻略</a></li>
          <li><a href="./find_line.html" class="active">定制吧</a></li>
          <li><a href="./find_companion.html" class="active">找同伴</a></li>
          <li><a href="./find_line.html" class="active">找领队</a></li>
          <li><a href="./find_line.html" class="active">找装备</a></li>
          <li><a href="./find_line.html" class="active">找知识</a></li>
          <li><a href="./find_line.html">全程管家</a></li>
        </ul>
      </div>
      <div class="contentbox">
        <div class="afa-m-fe">
          <h2 class="afa-module-title afa-bg-m-title"><span class="t-chinese">精华推荐</span><span class="t-english">GOOD-LINE-RECOMMENF</span></h2>
          <div class="afa-m-fe-content bg-gray">
                        <div id="fs_roll_01" class="afa-m-roll">
                          <ul class="roll-list">
                            <li class="roll-item"><a href="#"><img src="../img/default_roll.jpg" alt=""></a></li>
                            <li class="roll-item"><a href="#"><img src="../img/default_roll.jpg" alt=""></a></li>
                            <li class="roll-item"><a href="#"><img src="../img/default_roll.jpg" alt=""></a></li>
                            <li class="roll-item"><a href="#"><img src="../img/default_roll.jpg" alt=""></a></li>
                          </ul><a href="javascript:void(0);" class="roll-btn-left"></a><a href="javascript:void(0);" class="roll-btn-right"></a>
                          <div class="info-box">
                            <div class="box-theme-one">
                              <div class="user-photo"><a href="#"><img src="../img/tou.jpg" alt=""></a></div>
                              <div class="head"><b class="time">5天</b>
                                <h3 class="title">三亚旅行</h3>
                              </div>
                              <div class="content">
                                <div class="w-grid-a">
                                  <div class="w-block-a">已报名：10人</div>
                                  <div class="w-block-b">已关注：60人</div>
                                  <div class="w-block-a">2014-09-24</div>
                                </div>
                                <p class="desc">
                                  活动地点：三亚情侣小岛<br>
                                  行程：2014-09-20 08：30——2014-09-25 17:00<br>
                                  人数：10人<br>
                                  领队：wind<br>
                                  预计费用：200元/人
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="share_img_list_01" class="afa-m-imgshow">
                          <ul class="list">
                            <li class="item">
                              <div class="img"><img src="../img/list_img.jpg" alt="">
                                <div class="user"><img src="../img/tou.jpg" alt=""><span class="name">法国</span><span class="time">2014-05-12</span></div>
                              </div>
                              <div class="afa-line-sim-intr one">
                                <div class="w-grid-a">
                                  <div class="w-block-a w3"><i class="icon icon-l-map"></i>15天</div>
                                  <div class="w-block-b w7 w-tr addr">法国巴黎</div>
                                </div>
                                <div class="w-wrapper">成都<b>〉</b>三亚<b>〉</b>巴黎<b>〉</b>普罗旺斯<b>〉</b>西坝<b>〉</b>勃艮第<b>〉</b>凯旋门<b>〉</b></div>
                              </div>
                            </li>
                            <li class="item">
                              <div class="img"><img src="../img/list_img.jpg" alt="">
                                <div class="user"><img src="../img/tou.jpg" alt=""><span class="name">法国</span><span class="time">2014-05-12</span></div>
                              </div>
                              <div class="afa-line-sim-intr one">
                                <div class="w-grid-a">
                                  <div class="w-block-a w3"><i class="icon icon-l-map"></i>15天</div>
                                  <div class="w-block-b w7 w-tr addr">法国巴黎</div>
                                </div>
                                <div class="w-wrapper">成都<b>〉</b>三亚<b>〉</b>巴黎<b>〉</b>普罗旺斯<b>〉</b>西坝<b>〉</b>勃艮第<b>〉</b>凯旋门<b>〉</b></div>
                              </div>
                            </li>
                            <li class="item">
                              <div class="img"><img src="../img/list_img.jpg" alt="">
                                <div class="user"><img src="../img/tou.jpg" alt=""><span class="name">法国</span><span class="time">2014-05-12</span></div>
                              </div>
                              <div class="afa-line-sim-intr one">
                                <div class="w-grid-a">
                                  <div class="w-block-a w3"><i class="icon icon-l-map"></i>15天</div>
                                  <div class="w-block-b w7 w-tr addr">法国巴黎</div>
                                </div>
                                <div class="w-wrapper">成都<b>〉</b>三亚<b>〉</b>巴黎<b>〉</b>普罗旺斯<b>〉</b>西坝<b>〉</b>勃艮第<b>〉</b>凯旋门<b>〉</b></div>
                              </div>
                            </li>
                            <li class="item">
                              <div class="img"><img src="../img/list_img.jpg" alt="">
                                <div class="user"><img src="../img/tou.jpg" alt=""><span class="name">法国</span><span class="time">2014-05-12</span></div>
                              </div>
                              <div class="afa-line-sim-intr one">
                                <div class="w-grid-a">
                                  <div class="w-block-a w3"><i class="icon icon-l-map"></i>15天</div>
                                  <div class="w-block-b w7 w-tr addr">法国巴黎</div>
                                </div>
                                <div class="w-wrapper">成都<b>〉</b>三亚<b>〉</b>巴黎<b>〉</b>普罗旺斯<b>〉</b>西坝<b>〉</b>勃艮第<b>〉</b>凯旋门<b>〉</b></div>
                              </div>
                            </li>
                          </ul>
                        </div>
          </div>
        </div>
        <div class="afa-m-fe bg-gray">
          <div class="w-grid-b share-line-user-box">
            <div class="w-block-a"><img src="../img/sanya.jpg" alt="" class="line-img"></div>
            <div class="w-block-b">
              <div class="afa-share-line-name w-cf">
                <div class="zh">三亚</div>
                <div class="time">2014-09-29</div>
                <div class="en"> SANYA</div>
              </div>
              <div class="w-grid-b w-tc line-operate">
                <div class="w-block-a"><i class="icon icon-h"></i><span class="text">想去</span></div>
                <div class="w-block-b"><i class="icon icon-q"></i><span class="text">去过</span></div>
                <div class="w-block-c"><i class="icon icon-a"></i><span class="text">加入行程</span></div>
              </div>
              <div class="w-grid-a share-down">
                <div class="w-block-a">
                  <input type="button" value="生成相同路线">
                </div>
                <div class="w-block-b">
                  <input type="button" value="下载路线">
                </div>
              </div>
            </div>
            <div class="w-block-c">
              <div class="w-wrapper share-user-name"><img src="../img/tou.jpg" alt="">来自<b>小童</b>的分享</div>
              <p class="share-user-info">
                常住地：成都<br>
                性别：女<br>
                星座：射手座<br>
                年龄：23岁<br>
              </p>
            </div>
          </div>
        </div>
        <div class="afa-m-fe bg-gray">
          <h2 class="line-title"><i class="icon bg_01">1</i>行程</h2>
          <div class="w-padding-wrapper">
            <div class="day-item">
              <div class="head-line-intr">
                <div class="day-title"><i class="icon bg_02">D1</i><span class="text">第一天</span>
                  <h3 class="title">2014-09-24 09：00 成都双流机场集合 成都-新加坡-三亚</h3>
                </div>
                <div class="afa-module-roll">
                                    <div id="fs_roll_02" class="afa-m-roll">
                                      <ul class="roll-list">
                                        <li class="roll-item"><a href="#"><img src="../img/default_roll.jpg" alt=""></a></li>
                                        <li class="roll-item"><a href="#"><img src="../img/default_roll.jpg" alt=""></a></li>
                                        <li class="roll-item"><a href="#"><img src="../img/default_roll.jpg" alt=""></a></li>
                                        <li class="roll-item"><a href="#"><img src="../img/default_roll.jpg" alt=""></a></li>
                                      </ul><a href="javascript:void(0);" class="roll-btn-left"></a><a href="javascript:void(0);" class="roll-btn-right"></a>
                                    </div>
                  <div class="afa-m-text">
                    <div class="item">
                      <p class="t-content">这周刚和妈妈去首尔玩儿了几天，趁热打铁把攻略写了。我是个馋嘴猫，先总结一下这一路吃的吧。首先想说的是，大家不要对韩国的美食抱太高的期望，不然真的会很失望。之前在中国和美国吃过很多次韩国菜，很惊异韩国本土吃到的还没有在其他国家吃到的韩国菜好吃，而且我们去的很多餐厅还是网友们大力推荐的。我妈妈的一句话评语是：“大长今真是太能编</p>
                      <div class="w-grid-a show-bottom">
                        <div class="w-block-a w3"><i class="icon icon-map"></i>新西兰</div>
                        <div class="w-block-b w7 w-tr"><a href="#"><i class="icon icon-like"></i>34</a><a href="#"><i class="icon icon-comment"></i>23</a><a href="#"><i class="icon icon-share"></i>20</a></div>
                      </div>
                    </div>
                  </div>
                                    <div id="img_list_01" class="afa-m-imgshow">
                                      <ul class="list">
                                        <li class="item">
                                          <div class="img"><img src="../img/list_img.jpg" alt=""></div>
                                          <div class="afa-line-sim-intr two">
                                            <p class="list-img-bottom-text">印第安人主要看中的是肉和毛，夏天到，主人给他们刚剪完毛，在新西兰的主人家 里，他们被当做宠物</p>
                                            <div class="w-grid-a">
                                              <div class="w-block-a"><i class="icon icon-l-map"></i>新西兰</div>
                                              <div class="w-block-b w-tr"><a href="#"><i class="icon icon-like"></i>34</a><a href="#"><i class="icon icon-comment"></i>23</a><a href="#"><i class="icon icon-share"></i>20</a></div>
                                            </div>
                                          </div>
                                        </li>
                                        <li class="item">
                                          <div class="img"><img src="../img/list_img.jpg" alt=""></div>
                                          <div class="afa-line-sim-intr two">
                                            <p class="list-img-bottom-text">印第安人主要看中的是肉和毛，夏天到，主人给他们刚剪完毛，在新西兰的主人家 里，他们被当做宠物</p>
                                            <div class="w-grid-a">
                                              <div class="w-block-a"><i class="icon icon-l-map"></i>新西兰</div>
                                              <div class="w-block-b w-tr"><a href="#"><i class="icon icon-like"></i>34</a><a href="#"><i class="icon icon-comment"></i>23</a><a href="#"><i class="icon icon-share"></i>20</a></div>
                                            </div>
                                          </div>
                                        </li>
                                        <li class="item">
                                          <div class="img"><img src="../img/list_img.jpg" alt=""></div>
                                          <div class="afa-line-sim-intr two">
                                            <p class="list-img-bottom-text">印第安人主要看中的是肉和毛，夏天到，主人给他们刚剪完毛，在新西兰的主人家 里，他们被当做宠物</p>
                                            <div class="w-grid-a">
                                              <div class="w-block-a"><i class="icon icon-l-map"></i>新西兰</div>
                                              <div class="w-block-b w-tr"><a href="#"><i class="icon icon-like"></i>34</a><a href="#"><i class="icon icon-comment"></i>23</a><a href="#"><i class="icon icon-share"></i>20</a></div>
                                            </div>
                                          </div>
                                        </li>
                                        <li class="item">
                                          <div class="img"><img src="../img/list_img.jpg" alt=""></div>
                                          <div class="afa-line-sim-intr two">
                                            <p class="list-img-bottom-text">印第安人主要看中的是肉和毛，夏天到，主人给他们刚剪完毛，在新西兰的主人家 里，他们被当做宠物</p>
                                            <div class="w-grid-a">
                                              <div class="w-block-a"><i class="icon icon-l-map"></i>新西兰</div>
                                              <div class="w-block-b w-tr"><a href="#"><i class="icon icon-like"></i>34</a><a href="#"><i class="icon icon-comment"></i>23</a><a href="#"><i class="icon icon-share"></i>20</a></div>
                                            </div>
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                </div>
              </div>
            </div>
            <hr class="line-hr">
            <div class="day-item">
              <div class="head-line-intr">
                <div class="day-title"><i class="icon bg_02">D2</i><span class="text">第二天</span>
                  <h3 class="title">2014-09-24 09：00 成都双流机场集合 成都-新加坡-三亚</h3>
                </div>
                <div class="afa-module-roll">
                                    <div id="fs_roll_03" class="afa-m-roll">
                                      <ul class="roll-list">
                                        <li class="roll-item"><a href="#"><img src="../img/default_roll.jpg" alt=""></a></li>
                                        <li class="roll-item"><a href="#"><img src="../img/default_roll.jpg" alt=""></a></li>
                                        <li class="roll-item"><a href="#"><img src="../img/default_roll.jpg" alt=""></a></li>
                                        <li class="roll-item"><a href="#"><img src="../img/default_roll.jpg" alt=""></a></li>
                                      </ul><a href="javascript:void(0);" class="roll-btn-left"></a><a href="javascript:void(0);" class="roll-btn-right"></a>
                                    </div>
                  <div class="afa-m-text">
                    <div class="item">
                      <p class="t-content">这周刚和妈妈去首尔玩儿了几天，趁热打铁把攻略写了。我是个馋嘴猫，先总结一下这一路吃的吧。首先想说的是，大家不要对韩国的美食抱太高的期望，不然真的会很失望。之前在中国和美国吃过很多次韩国菜，很惊异韩国本土吃到的还没有在其他国家吃到的韩国菜好吃，而且我们去的很多餐厅还是网友们大力推荐的。我妈妈的一句话评语是：“大长今真是太能编</p>
                      <div class="w-grid-a show-bottom">
                        <div class="w-block-a w3"><i class="icon icon-map"></i>新西兰</div>
                        <div class="w-block-b w7 w-tr"><a href="#"><i class="icon icon-like"></i>34</a><a href="#"><i class="icon icon-comment"></i>23</a><a href="#"><i class="icon icon-share"></i>20</a></div>
                      </div>
                    </div>
                  </div>
                                    <div id="img_list_01" class="afa-m-imgshow">
                                      <ul class="list">
                                        <li class="item">
                                          <div class="img"><img src="../img/list_img.jpg" alt=""></div>
                                          <div class="afa-line-sim-intr two">
                                            <p class="list-img-bottom-text">印第安人主要看中的是肉和毛，夏天到，主人给他们刚剪完毛，在新西兰的主人家 里，他们被当做宠物</p>
                                            <div class="w-grid-a">
                                              <div class="w-block-a"><i class="icon icon-l-map"></i>新西兰</div>
                                              <div class="w-block-b w-tr"><a href="#"><i class="icon icon-like"></i>34</a><a href="#"><i class="icon icon-comment"></i>23</a><a href="#"><i class="icon icon-share"></i>20</a></div>
                                            </div>
                                          </div>
                                        </li>
                                        <li class="item">
                                          <div class="img"><img src="../img/list_img.jpg" alt=""></div>
                                          <div class="afa-line-sim-intr two">
                                            <p class="list-img-bottom-text">印第安人主要看中的是肉和毛，夏天到，主人给他们刚剪完毛，在新西兰的主人家 里，他们被当做宠物</p>
                                            <div class="w-grid-a">
                                              <div class="w-block-a"><i class="icon icon-l-map"></i>新西兰</div>
                                              <div class="w-block-b w-tr"><a href="#"><i class="icon icon-like"></i>34</a><a href="#"><i class="icon icon-comment"></i>23</a><a href="#"><i class="icon icon-share"></i>20</a></div>
                                            </div>
                                          </div>
                                        </li>
                                        <li class="item">
                                          <div class="img"><img src="../img/list_img.jpg" alt=""></div>
                                          <div class="afa-line-sim-intr two">
                                            <p class="list-img-bottom-text">印第安人主要看中的是肉和毛，夏天到，主人给他们刚剪完毛，在新西兰的主人家 里，他们被当做宠物</p>
                                            <div class="w-grid-a">
                                              <div class="w-block-a"><i class="icon icon-l-map"></i>新西兰</div>
                                              <div class="w-block-b w-tr"><a href="#"><i class="icon icon-like"></i>34</a><a href="#"><i class="icon icon-comment"></i>23</a><a href="#"><i class="icon icon-share"></i>20</a></div>
                                            </div>
                                          </div>
                                        </li>
                                        <li class="item">
                                          <div class="img"><img src="../img/list_img.jpg" alt=""></div>
                                          <div class="afa-line-sim-intr two">
                                            <p class="list-img-bottom-text">印第安人主要看中的是肉和毛，夏天到，主人给他们刚剪完毛，在新西兰的主人家 里，他们被当做宠物</p>
                                            <div class="w-grid-a">
                                              <div class="w-block-a"><i class="icon icon-l-map"></i>新西兰</div>
                                              <div class="w-block-b w-tr"><a href="#"><i class="icon icon-like"></i>34</a><a href="#"><i class="icon icon-comment"></i>23</a><a href="#"><i class="icon icon-share"></i>20</a></div>
                                            </div>
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                </div>
              </div>
            </div>
            <hr class="line-hr">
          </div>
        </div>
        <div class="afa-m-fe share-line-tui bg-gray">
          <h2 class="afa-h2">相似路线分享推荐 <a href="#">>></a></h2>
                    <div id="share_img_list_02" class="afa-m-imgshow">
                      <ul class="list">
                        <li class="item">
                          <div class="img"><img src="../img/list_img.jpg" alt="">
                            <div class="user"><img src="../img/tou.jpg" alt=""><span class="name">法国</span><span class="time">2014-05-12</span></div>
                          </div>
                          <div class="afa-line-sim-intr two">
                            <p class="list-img-bottom-text">印第安人主要看中的是肉和毛，夏天到，主人给他们刚剪完毛，在新西兰的主人家 里，他们被当做宠物</p>
                            <div class="w-grid-a">
                              <div class="w-block-a"><i class="icon icon-l-map"></i>新西兰</div>
                              <div class="w-block-b w-tr"><a href="#"><i class="icon icon-like"></i>34</a><a href="#"><i class="icon icon-comment"></i>23</a><a href="#"><i class="icon icon-share"></i>20</a></div>
                            </div>
                          </div>
                        </li>
                        <li class="item">
                          <div class="img"><img src="../img/list_img.jpg" alt="">
                            <div class="user"><img src="../img/tou.jpg" alt=""><span class="name">法国</span><span class="time">2014-05-12</span></div>
                          </div>
                          <div class="afa-line-sim-intr two">
                            <p class="list-img-bottom-text">印第安人主要看中的是肉和毛，夏天到，主人给他们刚剪完毛，在新西兰的主人家 里，他们被当做宠物</p>
                            <div class="w-grid-a">
                              <div class="w-block-a"><i class="icon icon-l-map"></i>新西兰</div>
                              <div class="w-block-b w-tr"><a href="#"><i class="icon icon-like"></i>34</a><a href="#"><i class="icon icon-comment"></i>23</a><a href="#"><i class="icon icon-share"></i>20</a></div>
                            </div>
                          </div>
                        </li>
                        <li class="item">
                          <div class="img"><img src="../img/list_img.jpg" alt="">
                            <div class="user"><img src="../img/tou.jpg" alt=""><span class="name">法国</span><span class="time">2014-05-12</span></div>
                          </div>
                          <div class="afa-line-sim-intr two">
                            <p class="list-img-bottom-text">印第安人主要看中的是肉和毛，夏天到，主人给他们刚剪完毛，在新西兰的主人家 里，他们被当做宠物</p>
                            <div class="w-grid-a">
                              <div class="w-block-a"><i class="icon icon-l-map"></i>新西兰</div>
                              <div class="w-block-b w-tr"><a href="#"><i class="icon icon-like"></i>34</a><a href="#"><i class="icon icon-comment"></i>23</a><a href="#"><i class="icon icon-share"></i>20</a></div>
                            </div>
                          </div>
                        </li>
                        <li class="item">
                          <div class="img"><img src="../img/list_img.jpg" alt="">
                            <div class="user"><img src="../img/tou.jpg" alt=""><span class="name">法国</span><span class="time">2014-05-12</span></div>
                          </div>
                          <div class="afa-line-sim-intr two">
                            <p class="list-img-bottom-text">印第安人主要看中的是肉和毛，夏天到，主人给他们刚剪完毛，在新西兰的主人家 里，他们被当做宠物</p>
                            <div class="w-grid-a">
                              <div class="w-block-a"><i class="icon icon-l-map"></i>新西兰</div>
                              <div class="w-block-b w-tr"><a href="#"><i class="icon icon-like"></i>34</a><a href="#"><i class="icon icon-comment"></i>23</a><a href="#"><i class="icon icon-share"></i>20</a></div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
        </div>
        <div class="afa-m-fe i-want-to-share bg-gray">
          <h3 class="afa-h2">我也要分享</h3>
          <div class="w-padding-wrapper">
            <div class="share-nav">
              <h3 class="w-tc">分享流程</h3>
              <ul class="list w-tc">
                <li class="item">选择路线</li>
                <li class="item">创建标题</li>
                <li class="item">内容创建</li>
                <li class="item">提交创建</li>
                <li class="item">邀人力挺</li>
              </ul>
            </div>
            <div class="share-go-wrapper">
              <ul class="share-step-list">
                <li class="step-one">
                  <h4 class="step-title"><i class="icon icon-small-cir">1</i>选择我的路线</h4>
                  <div class="share-choose-line">
                    <ul class="b-b">
                      <li class="line-item w-cf">
                        <div class="l-img"><img src="../img/jse.jpg" alt=""></div>
                        <div class="l-intr">
                          <p>路线：成都-沈阳-贵州-三亚</p>
                          <p>时间：2014-09-25——2014-09-30</p>
                        </div>
                      </li>
                      <li class="line-item w-cf">
                        <div class="l-img"><img src="../img/jse.jpg" alt=""></div>
                        <div class="l-intr">
                          <p>路线：成都-沈阳-贵州-三亚</p>
                          <p>时间：2014-09-25——2014-09-30</p>
                        </div>
                      </li>
                      <li class="line-item w-cf">
                        <div class="l-img"><img src="../img/jse.jpg" alt=""></div>
                        <div class="l-intr">
                          <p>路线：成都-沈阳-贵州-三亚</p>
                          <p>时间：2014-09-25——2014-09-30</p>
                        </div>
                      </li>
                      <li class="line-item w-cf">
                        <div class="l-img"><img src="../img/jse.jpg" alt=""></div>
                        <div class="l-intr">
                          <p>路线：成都-沈阳-贵州-三亚</p>
                          <p>时间：2014-09-25——2014-09-30</p>
                        </div>
                      </li>
                      <li class="line-item w-cf">
                        <div class="l-img"><img src="../img/jse.jpg" alt=""></div>
                        <div class="l-intr">
                          <p>路线：成都-沈阳-贵州-三亚</p>
                          <p>时间：2014-09-25——2014-09-30</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="blue-tooltip">这儿没有想分享的路线？还可以自己创建其他的路线哦！</div>
                </li>
                <li class="step-two">
                  <h4 class="step-title"><i class="icon icon-small-cir">2</i>创建我的其他路线</h4>
                  <div class="share-create-line">
                    <div class="create-list b-b">
                      <div class="item">
                        <div class="w-grid-a">
                          <div class="w-block-a"><span class="label">出发地</span>
                            <input type="text" placeholder="请输入出发地" class="search">
                          </div>
                          <div class="w-block-b"><span class="label">目的地</span>
                            <input type="text" placeholder="请输入目的地" class="search">
                          </div>
                        </div>
                      </div>
                      <div class="item"><span class="label">经由</span>
                        <input type="text">
                        <input type="text">
                        <input type="text">
                      </div>
                      <div class="item">
                        <div class="w-grid-a">
                          <div class="w-block-a"><span class="label">出发日期</span>
                            <input type="text" id="travel_out_time" class="calendar">
                          </div>
                          <div class="w-block-b"><span class="label">返回日期</span>
                            <input type="text" id="travel_back_time" class="calendar">
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="w-grid-a">
                          <div class="w-block-a"><span class="label">参加人数</span>
                            <label for="" class="unit">人</label>
                            <input type="text" maxlength="3">
                          </div>
                          <div class="w-block-b"><span class="label">人均消费</span>
                            <label for="" class="unit">元</label>
                            <input type="text" maxlength="5">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="step-three">
                  <h4 class="step-title"><i class="icon icon-small-cir">3</i>创建我的标题栏，不超过30个字</h4>
                  <div class="share-create-title">
                    <input type="text">
                  </div>
                </li>
                <li class="step-four">
                  <h4 class="step-title"><i class="icon icon-small-cir">4</i>内容创建</h4>
                  <div class="share-create-content">
                    <h4 class="step-title"><i class="icon icon-small-cir">A</i>记录行程</h4>
                    <div class="day-list">
                      <h4 class="step-title">第一天</h4>
                      <div class="day-title">
                        <input type="text" class="block-input">
                      </div>
                      <h4 class="step-title"><i class="icon icon-small-cir">B</i>上传图片</h4>
                      <div class="day-picture">
                        <input type="button" value="+" class="add-pic">
                      </div>
                      <h4 class="step-title"><i class="icon icon-small-cir">C</i>写下你的感想</h4>
                      <div class="day-text">
                        <h4 class="da-t"></h4>
                        <textarea name="" cols="30" rows="10" placeholder="不超过200字" class="day-textarea"></textarea>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="w-wrapper">
                <div class="share-create-btn">
                  <input type="button" value="+行程" class="block-btn">
                  <input type="button" value="提交" class="block-btn">
                  <input type="button" value="查看我的分享" class="block-btn">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="w-cf wrapper">
        <div class="w-fl copyright">Copyright© 1999-2014, ctrip.com. All rights reserved. | ICP证：沪B2-20050130</div>
        <div class="w-fr friendlink"><a href="#" target="_blank">关于我们 &nbsp;|&nbsp;</a><a href="#" target="_blank">媒体报道 &nbsp;|&nbsp;</a><a href="#" target="_blank">合作查询 &nbsp;|&nbsp;</a><a href="#" target="_blank">友情连接</a></div>
      </div>
    </div>
  </div>
  <script type="text/javascript" data-main="../js/find_strategy" src="../js/require.js"></script>
</body>