<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>阿尔法旅游网站</title>
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" media="screen" />
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/pro.min.css">
    <link rel="stylesheet" type="text/css" href="../css/user.css"></head>

<body>

    <div style="background:url(../img/main_bg.jpg) no-repeat center;" class="full-bg">
        <div class="full-bg opacity-8"></div>
    </div>
    <div id="register">
        <div class="header">
            <div class="box">
                <div class="slidebox"></div>
                <div class="contentbox">
                    <span class="afa-logo w-p-absolute">
                        <a href="../index.html">
                            <img src="../img/logo.png" alt=""/>
                        </a>
                    </span>
                    <span class="img-nav-tab">
                        <a href="#" class="nav-item">徒步</a>
                        <a href="#" class="nav-item">骑行</a>
                        <a href="#" class="nav-item">钓鱼</a>
                        <a href="#" class="nav-item">自驾</a>
                        <a href="#" class="nav-item">攀岩</a>
                        <a href="#" class="nav-item">滑雪</a>
                        <a href="#" class="nav-item">更多</a>
                    </span>
                    <div class="center-operate">
                        <a href="login.html">登录</a>&nbsp;|&nbsp;
                        <a href="register.html">注册</a>&nbsp;|&nbsp;
                        <a href="mycenter.html" class="afa-center">个人中心</a>
                    </div>
                </div>
                <div class="slidebox"></div>
            </div>
        </div>
        <div class="wrapper">
            <div class="afa-register-section">
                <div class="head-section">
                    <ul class="w-cf">
                        <li>
                            <a href="#"> <i></i>
                                <span></span>
                                邮箱注册
                            </a>
                        </li>
                        <li class="current">
                            <a href="#"> <i></i>
                                <span></span>
                                手机注册
                            </a>
                        </li>
                    </ul>
                    <span class="login-guide">
                        已有阿尔法账户？
                        <a href="login.html">登录</a>
                    </span>
                </div>
                <form action="register.php" class="afa-register-email w-hide">
                    <div class="form-field">
                        <label for="">邮箱：</label>
                        <input type="text" name="email" class="f-text">
                        <span class="inline-tip">
                            <i class="tip-status"></i>
                            请输入正确的邮箱格式
                        </span>
                    </div>
                    <div class="form-field">
                        <label for="">用户名：</label>
                        <input type="text" name="email" class="f-text">
                        <span class="inline-tip">
                            <i class="tip-status"></i>
                            请输入正确的邮箱格式
                        </span>
                    </div>
                    <div class="form-field field-pw-strength">
                        <label for="">创建密码：</label>
                        <input type="password" name="email" class="f-text">
                        <span class="inline-tip">
                            <i class="tip-status"></i>
                            请输入正确的邮箱格式
                        </span>
                        <div class="pw-strength">
                            <div class="pw-strength-bar pw-strength-bar--strong"></div>
                            <div class="pw-strength-title">
                                <span class="pw-strength-label">弱</span>
                                <span class="pw-strength-label">中</span>
                                <span class="pw-strength-label no-border">强</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        <label for="">确认密码：</label>
                        <input type="password" name="email" class="f-text">
                        <span class="inline-tip">
                            <i class="tip-status"></i>
                            请输入正确的邮箱格式
                        </span>
                    </div>
                    <div class="form-field field-captcha">
                        <label for="">验证码：</label>
                        <input maxlength="4" type="text" name="email" class="f-text">
                        <img src="../img/captcha.png" alt="" height="34" width="72">
                        <a href="" class="inline-link">看不清？换一张</a>
                        <span class="inline-tip">
                            <i class="tip-status"></i>
                            请输入正确的邮箱格式
                        </span>
                    </div>
                    <div class="form-field field-noleft">
                        <input type="submit" name="afa-register" class="f-submit btn" value="同意以下协议并注册">
                        <br>
                        <a href="#" class="inline-link">《阿尔法用户协议》</a>
                    </div>
                </form>
                <form action="register.php" class="afa-register-mobile">
                    <div class="form-field field-mobile-send-btn">
                        <label for="">手机号</label>
                        <input type="text" name="email" class="f-text">
                        <span class="inline-tip">
                            <i class="tip-status"></i>
                            请输入正确的邮箱格式
                        </span>
                        <input type="button" id="btn-send" value="免费获取短信验证码" class="send-btn"></div>
                    <div class="form-field">
                        <label for="">验证码</label>
                        <input type="text" name="email" class="f-text">
                        <span class="inline-tip">
                            <i class="tip-status"></i>
                            请输入正确的邮箱格式
                        </span>
                    </div>
                    <div class="form-field field-pw-strength">
                        <label for="">创建密码：</label>
                        <input type="password" name="email" class="f-text">
                        <span class="inline-tip">
                            <i class="tip-status"></i>
                            请输入正确的邮箱格式
                        </span>
                        <div class="pw-strength">
                            <div class="pw-strength-bar pw-strength-bar--strong"></div>
                            <div class="pw-strength-title">
                                <span class="pw-strength-label">弱</span>
                                <span class="pw-strength-label">中</span>
                                <span class="pw-strength-label no-border">强</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        <label for="">确认密码：</label>
                        <input type="password" name="email" class="f-text">
                        <span class="inline-tip">
                            <i class="tip-status"></i>
                            请输入正确的邮箱格式
                        </span>
                    </div>
                    <div class="form-field field-noleft">
                        <input type="submit" name="afa-register" class="f-submit btn" value="同意以下协议并注册">
                        <br>
                        <a href="#" class="inline-link">《阿尔法用户协议》</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer">
            <div class="w-cf wrapper">
                <div class="w-fl copyright">
                    Copyright© 1999-2014, ctrip.com. All rights reserved. | ICP证：沪B2-20050130
                </div>
                <div class="w-fr friendlink">
                    <a href="#">关于我们 &nbsp;|&nbsp;</a>
                    <a href="#">媒体报道 &nbsp;|&nbsp;</a>
                    <a href="#">合作查询 &nbsp;|&nbsp;</a>
                    <a href="#">友情连接</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>