<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>阿尔法旅游网站&全程管家</title>
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" media="screen" />
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="../css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/pro.min.css">
    <link rel="stylesheet" type="text/css" href="../css/team.css">
</head>

<body>
    <div id="team" class="">
        <div class="header normal">
            <div class="box">
                <div class="slidebox">
                </div>
                <div class="contentbox">
                    <span class="afa-logo w-p-absolute">
                        <a href="../index.html">
                            <img src="../img/logo.png" alt="">
                        </a>
                    </span>
                    <span class="img-nav-tab">
                        <a href="" class="nav-item"></a>
                        <a href="" class="nav-item active"></a>
                        <a href="" class="nav-item"></a>
                        <a href="" class="nav-item"></a>
                        <a href="" class="nav-item"></a>
                        <a href="" class="nav-item"></a>
                        <a href="" class="nav-item"></a>
                    </span>
                </div>
                <div class="slidebox fe-tr center-operate">
                    <a href="login.html">登录</a>&nbsp;|&nbsp;
                    <a href="register.html">注册</a>&nbsp;&nbsp;
                    <a href="" class="afa-center">
                            个人中心
                        </a>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="slidebox slide-menu skin01">
                <ul class="btn-list">
                    <li><a href="">找路线</a>
                    </li>
                    <li><a href="">找分享</a>
                    </li>
                    <li><a href="">找同伴</a>
                    </li>
                    <li><a href="">找领队</a>
                    </li>
                    <li><a href="">找装备</a>
                    </li>
                    <li><a href="">找知识</a>
                    </li>
                    <li><a href="">全程管家</a>
                    </li>
                </ul>
            </div>
            <div class="contentbox border">
                <div class="afa-m-fe">
                    <h2 class="afa-module-title">
                        找装备
                    </h2>
                    <div class="afa-m-fe-content">
                        <div class="afa-fade-change">
                            <div class="w-fade-in-out-wrapper-outer">
                                <ul class="wrapper-list">
                                    <li class="img-item">
                                        <a href="">
                                            <img src="../img/jian.jpg" alt="">
                                        </a>
                                        <div class="desc">
                                            <h3>2014亚洲户外用品展览会</h3>
                                            <p>20142014亚洲户外用品展览会2014亚洲户外用品展览会2014亚洲户外用品展览会2014亚洲户外用品展览会</p>
                                        </div>
                                    </li>
                                    <li class="img-item">
                                        <a href="">
                                            <img src="../img/jian.jpg" alt="">
                                        </a>
                                        <div class="desc">
                                            <h3>2014亚洲户外用品展览会</h3>
                                            <p>20142014亚洲户外用品展览会2014亚洲户外用品展览会2014亚洲户外用品展览会2014亚洲户外用品展览会</p>
                                        </div>
                                    </li>
                                    <li class="img-item">
                                        <a href="">
                                            <img src="../img/jian.jpg" alt="">
                                        </a>
                                        <div class="desc">
                                            <h3>2014亚洲户外用品展览会</h3>
                                            <p>20142014亚洲户外用品展览会2014亚洲户外用品展览会2014亚洲户外用品展览会2014亚洲户外用品展览会</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="control-view">
                                    <a class="current" href=""></a>
                                    <a href=""></a>
                                    <a href=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="afa-m-picwall">
                            <ul class="img-list">
                                <li class="img-i-one">
                                    <ul>
                                        <li class="item">
                                            <img src="../img/a07.jpg" alt="">
                                        </li>
                                        <li class="item">
                                            <img src="../img/a07.jpg" alt="">
                                        </li>
                                        <li class="item">
                                            <img src="../img/a07.jpg" alt="">
                                        </li>
                                        <li class="item">
                                            <img src="../img/a07.jpg" alt="">
                                        </li>
                                        <li class="item">
                                            <img src="../img/a07.jpg" alt="">
                                        </li>
                                    </ul>
                                </li>
                                <li class="img-i-four">
                                    <ul>
                                        <li class="img-i-three">
                                            <img src="../img/a07.jpg" alt="">

                                        </li>
                                        <li class="img-i-one">
                                            <ul>
                                                <li class="item">
                                                    <img src="../img/a07.jpg" alt="">
                                                </li>
                                                <li class="item">
                                                    <img src="../img/a07.jpg" alt="">
                                                </li>
                                                <li class="item">
                                                    <img src="../img/a07.jpg" alt="">
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="img-i-two">
                                            <ul>
                                                <li class="item">
                                                    <img src="../img/a07.jpg" alt="">
                                                </li>
                                                <li class="item">
                                                    <img src="../img/a07.jpg" alt="">
                                                </li>
                                                <li class="item">
                                                    <img src="../img/a07.jpg" alt="">
                                                </li>
                                                <li class="item">
                                                    <img src="../img/a07.jpg" alt="">
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="img-i-two">
                                            <img src="../img/a07.jpg" alt="">
                                        </li>
                                    </ul>
                                </li>
                                <li class="img-i-two">
                                    <ul>
                                        <li class="item"><img src="../img/a07.jpg" alt=""></li>
                                        <li class="item"><img src="../img/a07.jpg" alt=""></li>
                                        <li class="item"><img src="../img/a07.jpg" alt=""></li>
                                        <li class="item"><img src="../img/a07.jpg" alt=""></li>
                                        <li class="item"><img src="../img/a07.jpg" alt=""></li>
                                        <li class="item"><img src="../img/a07.jpg" alt=""></li>
                                        <li class="item"><img src="../img/a07.jpg" alt=""></li>
                                        <li class="item"><img src="../img/a07.jpg" alt=""></li>
                                        <li class="item"><img src="../img/a07.jpg" alt=""></li>
                                        <li class="item"><img src="../img/a07.jpg" alt=""></li>
                                    </ul>
                                </li>
                                <li class="img-i-three">
                                    <ul>
                                        <li class="img-i-three">
                                            <ul>
                                                <li class="item">
                                                    <img src="../img/a07.jpg" alt="">
                                                </li>
                                                <li class="item">
                                                    <img src="../img/a07.jpg" alt="">
                                                </li>
                                                <li class="item">
                                                    <img src="../img/a07.jpg" alt="">
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="img-i-three">
                                            <img src="../img/a07.jpg" alt="">
                                        </li>
                                        <li class="img-i-three">
                                            <ul>
                                                <li class="item">
                                                    <img src="../img/a07.jpg" alt="">
                                                </li>
                                                <li class="item">
                                                    <img src="../img/a07.jpg" alt="">
                                                </li>
                                                <li class="item">
                                                    <img src="../img/a07.jpg" alt="">
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="img-i-two" style="margin-right:-5px">
                                    <ul>
                                        <li class="item"><img src="../img/a07.jpg" alt=""></li>
                                        <li class="item"><img src="../img/a07.jpg" alt=""></li>
                                        <li class="item"><img src="../img/a07.jpg" alt=""></li>
                                        <li class="item"><img src="../img/a07.jpg" alt=""></li>
                                        <li class="item"><img src="../img/a07.jpg" alt=""></li>
                                        <li class="item"><img src="../img/a07.jpg" alt=""></li>
                                        <li class="item"><img src="../img/a07.jpg" alt=""></li>
                                        <li class="item"><img src="../img/a07.jpg" alt=""></li>
                                        <li class="item"><img src="../img/a07.jpg" alt=""></li>
                                        <li class="item"><img src="../img/a07.jpg" alt=""></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="slidebox fe-tc">
                <br>
                <br>
                <a class="icon icon-sina" href="">&nbsp;&nbsp;</a>
                <br>
                <br>
                <a class="icon icon-weixin" href="">&nbsp;&nbsp;</a>
                <br>
                <br>
                <a class="icon icon-qq" href="">&nbsp;&nbsp;</a>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="col-md-12">
                    <div class="col-md-8 copyright">
                        Copyright© 1999-2014, ctrip.com. All rights reserved. | ICP证：沪B2-20050130
                    </div>
                    <div class="col-md-4 friendlink">
                        <a href="">关于我们</a>&nbsp;|&nbsp;
                        <a href="">媒体报道</a>&nbsp;|&nbsp;
                        <a href="">合作查询</a>&nbsp;|&nbsp;
                        <a href="">友情连接</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/libs/jquery.js"></script>
    <script type="text/javascript" src="../js/libs/bootstrap.min.js"></script>
    <!--[if lte IE 9]>
    <script type="text/javascript" src="../js/libs/respond.min.js"></script>
    <script type="text/javascript" src="../js/libs/html5shiv.min.js"></script>
    <![endif]-->
    <script data-main="../js/manager" src="../js/require.js"></script>
</body>

</html>
